<!DOCTYPE html>
<html>
    <head>
            <meta charset="UTF-8" />
            <title>{% block title %}Cherch'Appart!{% endblock %}</title>
    </head>
    <body>
    {% include '@CherchAppart/Layout/menu.html.twig' %}
        {% block body %}{% endblock %}
    </body>
</html>
