<!-- Footer -->
<footer id="footer">
    <ul class="icons">
        <li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
        <li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
        <li><a href="#" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
    </ul>
    <ul class="copyright">
        <li><a href="#"> Accessibilité</a></li>
        <li> <a href="#"> Mention légales</a> </li>
        <li> <a href="#"> Plan du site</a> </li>
        <li> <a href="#"> Politique de confidentialité</a></li>
        {% if is_granted('ROLE_ADMIN') %}
            <li><a href="{{ path('admin') }}">Panneau administration</a></li>
        {% endif %}
        <li>&copy; CherchAppart. Tous droits réservés.</li>
        <li>Design: <a href="https://www.linkedin.com/in/thibault-jeanpierre-a9b40295/">ThibaultJP</a> | Back:  <a href="https://www.linkedin.com/in/stanislas-andujar-5172319b/">Standujar</a></li>
    </ul>
</footer>

</div>
