<header>
    <nav>
        <button class="btn-burger"></button>
        <a><h1>Cherch'Appart</h1></a>

        <ul class="menu-nav">
            {% if app.user== null %}
                <li><a href="{{ path('login') }}" class="btn-connect">Se connecter</a></li>
                <li><a>S'inscrire</a></li>
            {% else %}
                <li><a href="{{ path('cherch_appart_homepage_logged') }}">Mon Compte</a></li>
                <li><a href="{{ path('logout') }}">Déconnecter {{ app.user.username }}</a></li>

            {% endif %}


        </ul>

    </nav>

</header>