<div class="modaleConnect">
        <form id="login-form" action="{{ path('login_check') }}" method="POST">
            <div class="heading">Formulaire de connexion</div>

            <div class="left">
                <label for="username">Identifiant</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" />
                <label for="password">Mot de passe</label>
                <input type="password" id="password" name="_password" />
                <input type="submit" value="Se connecter" />
            </div>

            <div class="right">
                <div class="connect">Se connecter avec</div>
                <a href="" class="facebook">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="" class="twitter">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="" class="google-plus">
                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                </a>
            </div>
        </form>
</div>



</div>