<div class="modaleConnect">
    <button class="btn-close" >fermé</button>
    <form action="{{ path('login_check') }}" method="POST">
        <button class="btn-close" >fermé</button>
        <label for="username">Identifiant :</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" />
        <label for="password">Mot de passe :</label>
        <input type="text" id="password" name="_password" />
        <button class="btn-submit"  type="submit">Se connecter</button>
    </form>

</div>