{% extends '@CherchAppart/layout.html.twig' %}

{% block body %}
    <figure>
        <div id="france-map"></div>
    </figure>


    <div id="modaleMap" class="modaleMap">
        <h1>Recherche</h1>
    </div>
{% endblock %}

