{% extends '@CherchAppart/layout.html.twig' %}

{% block body %}
    <div class="contentMapMain">
        <figure>
            <div id="france-map"></div>
        </figure>


        <div id="modaleMap" class="modaleMap">
            <h1>Recherche</h1>

            <p class="dataCity"> </p>
        </div>

    </div>
{% endblock %}

{% block footer %}
{% endblock %}


