{% extends '@CherchAppart/layout.html.twig' %}

{% block body %}
    {% block hwi_oauth_content %}
        <h3>{{ 'header.registration_success' | trans({'%username%': app.user.username}, 'HWIOAuthBundle') }}</h3>
    {% endblock hwi_oauth_content %}
{% endblock %}