{% extends '@CherchAppart/Layout/base.html.twig' %}
{% block body %}
    {%  for message in app.session.flashbag.get('Info') %}
        <li><b>{{ message }}</b></li>
    {% endfor %}


    <!-- Main -->
    <div id="main" class="wrapper style1">
        <div class="container">
            <header class="major">
                <!--<h2> Bienvenue {# app.user.lastname #}</h2>-->
                <p>Découvrez maintenant tout le potentiel que vous offre Cherch'Appart !</p>
            </header>

            <!-- Content -->
            <section id="content">
                <a href="#" class="image fit"><img src="images/welcome.jpeg" alt="" /></a>
                <h3>Essayez la recherche d'annonce</h3>
                <p> Cherchez une annonce selon vos critères,
                Enflammez une annonce si elle vous parait bonne,
                Ou au contraire gelez la si elle vous parait peu fiable,
                 N'oubliez pas que nos offres inclues :</p>
                <ul>
                    <li>Des chambres d'étudiant</li>
                    <li>Des petits studio comme des plus grands</li>
                    <li>Des appartements T1</li>
                    <li>Des appartements T2</li>
                    <li>Des appartements T3</li>
                </ul>

                <h3>Essayez également de déposer une annonce</h3>
                <p> Vous êtes un particulier, vous souhaitez louer un bien sans passer par une agence
                    Vous êtes un habitant ayant une chambre à louer, vous disposez d'un bâtiment avec plusieurs
                    logement pour des étudiants et souhaitez louer ces logements simplements, essayez Cherch'Appart
                    en déposer une annonce simplement et rapidement !</p>

            </section>

        </div>
    </div>




{% endblock %}