{% extends '@CherchAppart/Layout/base.html.twig' %}
{% block body %}


        <!-- Banner -->
        <section id="banner">
            <div class="content">
                <header>
                    <h2>Tu cherches ou loues un appartement ?</h2>
                    <p>Cherch'Appart est le site parfait pour toi<br />
                        De la chambre d'étudiant au T3</p>
                </header>
                <span class="image"></span>
            </div>



            <a href="#one" class="goto-next scrolly">Suivant</a>
        </section>

        <!-- One -->
        <section id="one" class="spotlight style1 bottom">
            <span class="image fit main"><img src="images/secondPhoto.jpeg" alt="" /></span>
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="4u 12u$(medium)">
                            <header>
                                <h2>Ne passez pas par une agence immobilière !</h2>
                                <p>Optez pour un service gratuit et facile à prendre en main </p>
                            </header>
                        </div>
                        <div class="4u 12u$(medium)">
                            <p>Cherch'Appart à été conçu pour faciliter la recherche de logement pour étudiant
                                ou simple particulier. Il peut s'averer parfois très difficile de trouver
                                un premier logement, un logement pour son enfant ou tout simplement un logement
                                sans passer par une agence ou divers sites comportant des offres pour ou moins
                                sérieuses.</p>
                        </div>
                        <div class="4u$ 12u$(medium)">
                            <p>Dans cette démarche, notre site vous permets de rechercher le logement qui vous
                                convient, selon des critères précis que sont les votres. La communauté permet
                                ainsi de faire valoir les offres sérieuses à prix raisonnable ou au contraire de dénoncer
                                des annonces jugées trop peu fiable permettant ainsi à ceux qui s'y connaisse le moins
                                de ne pas tomber dans un piège immobilier.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#two" class="goto-next scrolly">Next</a>
        </section>

        <!-- Two -->
        <section id="two" class="spotlight style2 right">
            <span class="image fit main"><img src="images/thridPhoto.jpeg" alt="" /></span>
            <div class="content">
                <header>
                    <h2>Toute la France</h2>
                    <p>Que vous habitez à la campagne comme dans une grande ville</p>
                </header>
                <p>Cherch'Appart permet de chercher un logement dans toute la France, en focalisant d'abord sa recherche dans par Région pour facilier votre recherche</p>
                <ul class="actions">
                    <li><a href="#" class="button">Tester une recherche</a></li>
                </ul>
            </div>
            <a href="#three" class="goto-next scrolly">Next</a>
        </section>

        <!-- Three -->
        <section id="three" class="spotlight style3 left">
            <span class="image fit main bottom"><img src="images/fourPhoto.jpeg" alt="" /></span>
            <div class="content">
                <header>
                    <h2>Les meilleurs offres sont mises en avant</h2>
                    <p>Et cela gratuitement ! C'est la communauté qui décide avec des "FLAMMES"</p>
                </header>
                <p>Lorsque vous êtes connecté, vous pouvez faire grossir la flamme d'un article, ou au contraire la faire rétrécir si vous jugez l'annonce peu fiable ou peu convainquante, une explication plus détaillé est disponible sur le lien ci-dessous</p>
                <ul class="actions">
                    <li><a href="#" class="button">Voir l'explication</a></li>
                </ul>
            </div>
            <a href="#four" class="goto-next scrolly">Suivant</a>
        </section>

        <!-- Four -->
        <section id="four" class="wrapper style1 special fade-up">
            <div class="container">
                <header class="major">
                    <h2>Un site spécialement conçus pour être simple d'utilisation</h2>
                    <p>Nous avons reprit le meilleur de tout les sites pour créer CherchAppart !</p>
                </header>
                <div class="box alt">
                    <div class="row uniform">
                        <section class="4u 6u(medium) 12u$(xsmall)">
                            <span class="icon alt major fa-area-chart"></span>
                            <h3>En perpetuel changement</h3>
                            <p>Ce site est gérer par sa communauté et est donc sans cesse en mouvement</p>
                        </section>
                        <section class="4u 6u$(medium) 12u$(xsmall)">
                            <span class="icon alt major fa-comment"></span>
                            <h3>Donner son avis</h3>
                            <p>Chaque annonce dispose d'un espace commentaire pour que le créateur de l'annonce puisse y répondre</p>
                        </section>
                        <section class="4u$ 6u(medium) 12u$(xsmall)">
                            <span class="icon alt major fa-flask"></span>
                            <h3>Les coups de coeur</h3>
                            <p>Chaque annonce peut être notée en temps réel (inspiré du site dealabs)</p>
                        </section>
                        <section class="4u 6u$(medium) 12u$(xsmall)">
                            <span class="icon alt major fa-paper-plane"></span>
                            <h3>Toute la France</h3>
                            <p>Pour le moment "CherchAppart" est disponible sur toute la France. Si votre ville n'est pas indiqué, contactez les administrateurs pour leur en faire part</p>
                        </section>
                        <section class="4u 6u(medium) 12u$(xsmall)">
                            <span class="icon alt major fa-file"></span>
                            <h3>Création de bail automatique</h3>
                            <p>Il est possible pour le créateur d'annonce de générer un bail avec les informations entrées pour son annonce</p>
                        </section>
                        <section class="4u$ 6u$(medium) 12u$(xsmall)">
                            <span class="icon alt major fa-lock"></span>
                            <h3>Sécurité avant tout</h3>
                            <p>Toutes vos informations personnelles et mot de passe sont cryptées et sécurisées en base de données et ne sont pas transmise à qui que ce soit</p>
                        </section>
                    </div>
                </div>
                <footer class="major">
                    <ul class="actions">
                        <li><a href="#" class="button">Effectuer une recherche</a></li>
                    </ul>
                </footer>
            </div>
        </section>

        <!-- Five -->
        <section id="five" class="wrapper style2 special fade">
            <div class="container">
                <header>
                    <h2>Suivez nous</h2>
                    <p>Via notre newsletter</p>
                </header>
                <form method="post" action="#" class="container 50%">
                    <div class="row uniform 50%">
                        <div class="8u 12u$(xsmall)"><input type="email" name="email" id="email" placeholder="Adresse mail" /></div>
                        <div class="4u$ 12u$(xsmall)"><input type="submit" value="Souscrire" class="fit special" /></div>
                    </div>
                </form>
            </div>
        </section>


    {% block modaleConnexion %}
        {% include '@CherchAppart/Layout/modaleConnexion.html.twig' %}
    {% endblock %}


{% endblock %}