/* ----------------------------------------------------------------- */
/* ------------------------------ RESET ---------------------------- */
/* ----------------------------------------------------------------- */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, main,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
}

html {
	overflow-y: scroll;
	-webkit-font-smoothing: antialiased;
}

body {
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
}

article, aside, figure, figcaption, footer, header, main, nav, section {
	display: block;
}

body {
	font: 100%/1.3 robotoregular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
	text-decoration: none;
	color: white;
}
a:visited {
	opacity: .9;
}
a:hover {
	text-decoration:underline;
}


hr {display: none;}

img {
	max-width: 100%;
	border: 0;
}

strong {font-family: robotobold, "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: normal;}

button {
	font: normal 100%/1 robotoregular, "Helvetica Neue", Helvetica, Arial, sans-serif;
	border: none;
	cursor: pointer;
}

/* HEADER */
header{
	height: 5rem;
	box-shadow: 0px 8px 11px -5px rgba(50, 50, 50, 0.25);
}
	header > img{
		display: inline-block;
		width: 4rem;
		padding: 0.5rem;
		transition: transform 1s;
	}
	header > img.active {
		transform: rotate(180deg);
	}
	header div{
		display: inline-block;
		width: calc(100% - 8rem);
		padding-left: 2rem;
		height: 100%;
	}
			header .logo span {
				display: inline-block;
				width: calc(100% - 6rem);
				height: 100%;
				vertical-align: bottom;
				text-align: center;
			}
				header .logo span > img{
					margin-top: 1.7rem;
					width: 15.2rem;
				}
@media screen and (min-width: 1000px){
	header .logo span > img {
		margin-top: 1.4rem;
		width: 17.5rem;
	}
}
/* HOMEPAGE HEADER */

.homepageHeader{
	padding: 4.9rem 1rem 1rem 1rem;
}
	.homepageHeader h1{
		 color:#065A60;
		font-size: 1.5rem;
	 }
		.homepageHeader p{
			font: 1.5rem "robotoregular";
			color: #656060;
		}
			.homepageHeader button{
				margin-top: 3.1rem;
				padding: 0.5rem 1rem;
				color: white;
				border-radius: 2px;
				display:inline-block;
				box-shadow: 2.5px 2.5px 10px 1px rgba(50, 50, 50, 0.65);
				transform: perspective(1px) translateZ(0);
				-webkit-tap-highlight-color: rgba(0,0,0,0);
				-webkit-font-smoothing: antialiased;
			}
			.homepageHeader button:hover {
				-webkit-animation-name: hvr-pulse-shrink;
				animation-name: hvr-pulse-shrink;
				-webkit-animation-duration: 0.3s;
				animation-duration: 0.3s;
				-webkit-animation-timing-function: linear;
				animation-timing-function: linear;
				-webkit-animation-iteration-count: infinite;
				animation-iteration-count: infinite;
				-webkit-animation-direction: alternate;
				animation-direction: alternate;
			}
				/* Pulse Shrink Animation*/
				@-webkit-keyframes hvr-pulse-shrink {
					to {
						-webkit-transform: scale(0.9);
						transform: scale(0.9);
					}
				}
				@keyframes hvr-pulse-shrink {
					to {
						-webkit-transform: scale(0.9);
						transform: scale(0.9);
					}
				}
			.homepageHeader button::before{
			}
			.homepageHeader button:hover:before{

			}
				.btnLogin{
					background-color: #065A60;
					margin-right: 0.5rem;
				}
				.btnRegister{
					background-color: #ED1B36;
				}

/* HOME PAGE TOP ANNOUNCES */

.topAnnounces{
	padding: 3.2rem 1rem 1rem 1rem;
}
	.topAnnounces h2{
		font-size: 1.7rem;
		color: #383232;
		text-align: center;
	}
		.topAnnounces ul{
			display: flex;
			justify-content: center;
			list-style: none;
			padding: 2rem 0.5rem 0.5rem 0.5rem;
			flex-wrap: wrap;
		}
			.topAnnounces ul li{
				background-color: transparent;
				border: 1px solid rgba(0,0,0,0.1);
				border-radius: 3px;
				box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.06);
				width: 14rem;
				height: 9.3rem;
				margin-bottom: 1.9rem;
			}
			.topAnnounces ul li > a{
				height: 100%;
				width: 100%;
				display: block;
				cursor: pointer;
			}
				.pictTop{
					height: 7rem;
					width: 100%;
					position:relative;
				}
					.pictTop img{
						border: 0;
						height: 100%;
						min-width: 100%;

					}
					.topAnnounces .overlay {
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
						height: 100%;
						width: 100%;
						opacity: 0;
						transition: .5s ease;
						background-color: #008CBA;
					}
					.topAnnounces a:hover .overlay {
						opacity: 1;
					}
					.topAnnounces .text {
						color: white;
						font-size: 20px;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						-ms-transform: translate(-50%, -50%);
					}


				.textTop{
					color: #2b2828;
					padding: 0.6rem 0.2rem 0.6rem 0.8rem;
					font: 0.9rem "robotoblack";
				}

/* NAV BAR */
header nav {
	display: block;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 4.5rem;
	background-color: #065a60;
	box-shadow: 1px -6.2px 24px -5px rgb(6, 90, 96);
	z-index: 100;
	text-align: center;
}
 header nav ul{
	 display: block;
	 height: 100%;
 }
 	header nav ul li {
		display: inline-block;
		height: 100%;
		width: 23.8%;
	}
		header nav ul li a{
			text-align: center;
		}
		header nav a:hover i::before{
			color:lightblue;
		}
			header nav i{
				margin-top: 1rem;
			}
				header nav i::before{
					color: white;
					font-size: 2.6rem;
				}
					header nav a span{
						display : none;
					}
.openMenu{
	display:none;
}
@media screen and (min-width:400px) {
	.topAnnounces h2 {
		text-align: left;
	}
	.topAnnounces ul {
		justify-content: start;
	}
		.topAnnounces ul li {
			width: 47.1%;
			margin-bottom: 1.9rem;
			margin-right: 1rem;
		}
			.topAnnounces ul li:nth-child(even){
				margin-right:0;
			}
	.btnLogin {
		margin-right: 0.9rem;
	}
		.homepageHeader button {
			padding: 0.8rem 1.3rem;
		}
}

@media screen and (min-width:500px) {
	.topAnnounces ul li {
		width: 13rem;
		margin-bottom: 1.9rem;
		margin-right: 2rem;
	}

}
@media screen and (min-width:600px) {
	.topAnnounces ul li {
		width: 30.1%;
		margin-bottom: 1.9rem;
		margin-right: 1rem;
	}
	.topAnnounces ul li:nth-child(even){
		margin-right:1rem;
	}
}
@media screen and (min-width:700px) {
	.topAnnounces ul li {
		width: 27.8%;
		margin-right: 2.1rem;
	}
	.topAnnounces ul li:nth-child(even){
		margin-right: 2.1rem;
	}
}

@media screen and (min-width:800px) {
	.topAnnounces ul li {
		height: 21.4vw;
	}

	.pictTop {
		height: 17.3vw;
	}
}

@media screen and (min-width:1000px) {
	.homepageHeader button {
		padding: 1.1rem 1.6rem;
	}
	.btnLogin {
		margin-right: 1.6rem;
	}
	header nav {
		display: block;
		position: absolute;
		top: 5rem;
		width: 27rem;
		left: -50%;
		height: 15.8rem;
		background-color: #ffffff;
		box-shadow: 4px 5.8px 18px -6.2px rgb(196, 201, 202);
		z-index: 100;
		transition: left 1s;
	}
	header nav.active{
		left:0;
	}
		header nav ul {
			display: block;
			height: 100%;
		}
			header nav ul li {
				display: block;
				height: 3.5rem;
				padding-left: 2rem;
				width: auto;
			}
					header nav ul a{
						height: 100%;
						display: block;
						padding-left: 0;
						width: 100%;
						text-align: left;
						font-size: 1.2rem;
					}
					header nav a span:hover{
						-webkit-animation-name: hvr-wobble-top;
						animation-name: hvr-wobble-top;
						-webkit-animation-duration: 1s;
						animation-duration: 1s;
						-webkit-animation-timing-function: ease-in-out;
						animation-timing-function: ease-in-out;
						-webkit-animation-iteration-count: 1;
						animation-iteration-count: 1;
					}
					@keyframes hvr-wobble-top {
						16.65% {
							-webkit-transform: skew(-12deg);
							transform: skew(-12deg);
						}
						33.3% {
							-webkit-transform: skew(10deg);
							transform: skew(10deg);
						}
						49.95% {
							-webkit-transform: skew(-6deg);
							transform: skew(-6deg);
							color:gray;
						}
						66.6% {
							-webkit-transform: skew(4deg);
							transform: skew(4deg);
						}
						83.25% {
							-webkit-transform: skew(-2deg);
							transform: skew(-2deg);
						}
						100% {
							-webkit-transform: skew(0);
							transform: skew(0);
						}
					}
	header nav i::before{
		display:none;
	}
		header nav a span{
			display: block;
			color: #483d3d;
			font-family: "robotobold";
			text-align: left;
			-webkit-transform: perspective(1px) translateZ(0);
			transform: perspective(1px) translateZ(0);
			box-shadow: 0 0 1px transparent;
			-webkit-transform-origin: 0 100%;
			transform-origin: 0 100%;
			-webkit-tap-highlight-color: rgba(0,0,0,0);
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}

	.openMenu {
		content: "";
		width: 1rem;
		height: 1rem;
		border-bottom: 2px solid gray;
		border-right: 2px solid gray;
		transform: rotate(-45deg);
		position: absolute;
		top: 2rem;
		left: 5.4rem;
		display: block;
		background-color: white;
		outline: none;
		transition: transform 1s;
	}
	.openMenu.active{
		transform: rotate(135deg);
	}

	.topAnnounces ul li {
		height: 14.6rem;
	}
	.pictTop {
		height: 12.1rem;
	}
	.textTop p{
		font-size: 1.1rem;
	}

}
@media screen and (min-width:1200px) {
	.topAnnounces ul li {
		width: 21.8%;
	}
}

@media screen and (min-width:1500px) {
	.topAnnounces ul li {
		width: 20.9rem;
	}
	.homepageHeader h1 {
		font-size: 1.5rem;
	}
	.homepageHeader p {
		font-size: 1.8rem;
	}
	.homepageHeader button {
		padding: 1rem 1.4rem;
		font-size:1.2rem;
	}
}

/*  INFORMATIONS */

.deuxSystemes{
	padding: 3.2rem 1rem 1rem 1rem;
}

.deuxSystemes h2{
	font-size: 1.7rem;
	color: #383232;
	text-align: center;
}
	.deuxSystemes ul{
		display: flex;
		justify-content: center;
		list-style: none;
		padding: 2rem 0.5rem 0.5rem 0.5rem;
		flex-wrap: wrap;
	}
		.deuxSystemes ul li{
			background-color: transparent;
			border: 1px solid rgba(0,0,0,0.1);
			border-radius: 3px;
			box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.06);
			width: 14rem;
			height: 9.3rem;
			margin-bottom: 1.9rem;
		}
			.deuxSystemes ul a{
				height: 100%;
				width: 100%;
				display: block;
				cursor: pointer;
			}
				.deuxSystemes .sysTop{
					height: 7rem;
					width: 100%;
					position: relative;
				}
					.deuxSystemes .sysTop img{
						border: 0;
						height: 100%;
						min-width: 100%;
					}
					 	.sysTop .overlay{
							position: absolute;
							top: 0;
							bottom: 0;
							left: 0;
							right: 0;
							height: 100%;
							width: 100%;
							opacity: 0;
							transition: .5s ease;
							background-color: #ed1b36;
						}
						a:hover .sysTop  .overlay {
							opacity: 1;
						}
						.sysTop .text{
							color: white;
							font-size: 20px;
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
							-ms-transform: translate(-50%, -50%);
						}
					.deuxSystemes .sysText{
						color: #2b2828;
						padding: 0.6rem 0.2rem 0.6rem 0.8rem;
						font: 0.9rem "robotoblack";
					}

@media screen and (min-width:400px) {
	.deuxSystemes h2 {
		text-align: left;
	}
	.deuxSystemes ul {
		justify-content: left;
	}
	.deuxSystemes ul li {
		width: 16.6rem;
		height: 12.4rem;
	}
	.deuxSystemes .sysTop {
		height: 10.2rem;
	}
}
@media screen and (min-width:500px) {
	.deuxSystemes ul li {
		width: 90%;
		height: 10.2rem;
	}
	.deuxSystemes .sysTop{
		display: inline-block;
		width: 50%;
		height:10.2rem;
	}
	.deuxSystemes .sysText{
		display: inline-block;
		width: 42%;
		vertical-align: top;
		margin-top: 4.3rem;
		text-align: center;
	}
}
@media screen and (min-width:700px) {
	.deuxSystemes ul li:first-child{
		margin-right: 1.4rem;
	}
	.deuxSystemes ul li{
		width: 47.9%;
		height: 8rem;
	}
	.deuxSystemes .sysTop{
		width: 50%;
		height: 8rem;
	}
	.deuxSystemes .sysText {
		margin-top: 3rem;
		width: 43.4%;
	}
}
@media screen and (min-width:900px) {
	.deuxSystemes ul li {
		width: 48.4%;
		height: 10rem;
	}
	.deuxSystemes .sysTop {
		width: 58%;
		height: 10rem;
	}
	.deuxSystemes .sysText {
		margin-top: 3.9rem;
		width: 33.7%;
	}
}
@media screen and (min-width:1000px) {
	.deuxSystemes ul li {
		width: 48.5%;
		height: 12rem;
	}
	.deuxSystemes .sysTop {
		width: 59%;
		height: 12rem;
	}
	.deuxSystemes .sysText {
		margin-top: 4.7rem;
		width: 34.1%;
		font-size: 1.2rem;
	}
}
@media screen and (min-width:1100px) {
	.deuxSystemes ul li {
		width: 30.3rem;
		height: 12.6rem;
	}
	.deuxSystemes ul li:first-child {
		margin-right: 4.4rem;
	}
	.deuxSystemes .sysTop {
		height: 12.6rem;
	}
	.deuxSystemes .sysText {
		width: 10.5rem;
	}
}





/* **** FOOTER ***** */

footer{
	display: block;
	width: 100%;
	background-color: #eceaea6b;
	box-shadow: 0px -3px 12px 0px rgba(130, 113, 113, 0.36);
	margin-bottom: 4.6rem;
	padding-bottom: 1.1rem;
	margin-top: 2.5rem;
}

footer .icons{
	display: block;
	width: 70%;
	margin:0 auto;
	list-style: none;
	padding-top: 0.8rem;
}
	footer .icons li{
		display: inline-block;
		width: 23.5%;
		height: 3rem;
		text-align: center;
		margin-top: 0.4rem;

	}
	footer .icons i::before{
		font-size: 2.3rem;
		color: #4e4646;
	}
		footer .icons span {
			display: none;
		}

footer .copyright{
	margin-top:1rem;
	display: block;
	list-style: none;
}
  footer .copyright li{
	  display: block;
	  width: 100%;
	  text-align: center;
	  margin-bottom: 0.2rem;
	  padding-left:1rem;
  }
	footer  .copyright a{
		color: #4e4646;
		font-size: 1.3rem;
	}
		footer  .copyright a:hover{
			text-decoration: underline;
		}
		footer .copyright li:nth-child(4){
			margin-bottom: 1.3rem;
		}
		  footer .copyright li:nth-child(5){
			  font-size: 1.2rem;
		  }
			footer .copyright li:nth-child(6){
				font-weight:bold;
			}
				footer .copyright li:nth-child(6) a{
					font-weight:100;
				}

@media screen and (min-width:800px) {
	footer .copyright {
		margin-top: 2.5rem;
	}
		footer .copyright li {
			display: inline-block;
			width: 22%;
			text-align: center;
			margin-bottom: 0.2rem;
			vertical-align: top;
		}
			footer .copyright li:nth-child(5) {
				font-size: 1.2rem;
				display: block;
				width: 100%;
				margin-top: 1.2rem;
			}
				footer .copyright li:nth-child(6){
					font-size: 1.2rem;
					display: block;
					width: 100%;
					margin-top: -0.2rem;
				}
}

@media screen and (min-width:1000px) {

	footer{
		margin-bottom: 0;
	}
	footer .icons {
		display: inline-block;
		width: 50%;
		margin: 0 auto;
		padding-top: 0.8rem;
	}
		footer .icons li {
			display: block;
			width: auto;
			height: 3rem;
			text-align: left;
			margin-top: 0.4rem;
			margin-left: 54%;
		}
			footer .icons li a{
				display: block;
			}
				footer .icons span:hover{
					text-decoration:underline;
				}
					footer .icons i{
						display: inline-block;
					}
						footer .icons span {
							 display: inline-block;
							 color: #4e4646;
							 margin-left: 0.9rem;
							 vertical-align: super;
						 }
		footer .copyright {
			display: inline-block;
			width: 49%;
			vertical-align: top;
			margin-top: 1.6rem;
		}
			footer .copyright li{
				display: block;
				width: 100%;
				text-align: left;
				margin-bottom: 0.2rem;
				vertical-align: top;
			}



}
/* *********************************************************
				******************* FORM ***********************************
				***********************************************************/


/* REGISTER FORM */
.registerForm h3{
	font-size: 2.3rem;
}
.registerForm fieldset,
.editAccountForm fieldset{
	border: 3.6px solid #5c81c6;
	padding: 2.1rem 3rem 3rem 3rem;
	border-radius: 4px;
	margin-bottom: 3rem;
	position:relative;
}
.registerForm fieldset legend, .editAccountForm fieldset legend{
	text-transform: uppercase;
	padding: 0 1.3rem;
	background-color: #5c81c6;
	color: white;
	font-weight: bold;
	border-radius: 4px;
}
.registerForm label, .editAccountForm label{
	margin-bottom: 0.3rem;
}
.registerForm input{
	height: 2.6rem;
	margin-bottom: 1.1rem;
}
.editAccountForm input{
	width: 75%;
	height: 2.6rem;
	margin-bottom: 1.1rem;
	border: solid 0.5px rgba(255, 255, 255, 0.25);
}
.editAccountForm input.enable{
	border: solid 0.5px rgb(255, 255, 255);
}
.editAccountForm input.enable:hover{
	border: solid 0.5px #5c81c6;
}
.registerForm input[type="submit"] {
	height:auto;
	margin-bottom:0;
}
.registerForm input[type="submit"]:hover{
	box-shadow: inset 0 0 0 1px #5c81c6;
	border:0;
}

.editAccountForm input[type="submit"]{
	margin-bottom: 2rem;
	height: auto;
	background-color: initial;
	color: #5c81c6;
	text-transform: uppercase;
	border: 0.9px solid #c3c3c3;
	font-weight: bold;
}

#fos_user_registration_form_plainPassword ul{
	list-style: none;
	color: #ca2727;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.1rem;
	margin-left: 4.9%;
	position: absolute;
	margin-top: -2.5rem;
}
.registerForm .imageFileRegister{
	display: inline-block;
	width: 49%;
	padding-top: 4.3rem;
	height: 11rem;
	vertical-align: bottom;
}
.registerForm label[for="fos_user_registration_form_imageFile"]{
	margin-top: 0rem;
	display: block;
	vertical-align: top;
	padding: 0.5rem 1rem 0.5rem 1rem;
	border: 1px solid #e6e6e6;
	text-align: center;
	width: 88%;
	border-radius: 4px;
	cursor:pointer;
	position:relative;
}

.registerForm label[for="fos_user_registration_form_imageFile"]::before{
	content: "(Privilégiez une photo carré)";
	width: 100%;
	height: 1rem;
	display: block;
	position: absolute;
	top: 3.1rem;
	font-size: 0.9rem;
	font-style: italic;
	color: #a7a5a5;
}


#fos_user_registration_form_imageFile,
#fos_user_profile_form_imageFile{
	position: absolute;
	z-index: -1;
	left: -9999px;
}
.registerForm label[for="fos_user_registration_form_imageFile"]:hover{
	color: #5c81c6;
	border: 1px solid #5c81c6;
}

.editAccountForm label[for="fos_user_profile_form_imageFile"].enable:hover{
	color: #5c81c6;
	border: 1px solid #5c81c6;
}
.registerForm .photoProfilRegisterContainer{
	display:inline-block;
	height: 11rem;
	width: 11rem;
	width: 50%;
}
.registerForm .photoProfileRegisterContent{
	border: 2.7px solid #e6e6e6;
	min-height: 11rem;
	width: 11rem;
	height: 11rem;
	border-radius: 50%;
	margin: 0 auto;
	text-align: center;
	overflow: hidden
}
.registerForm .photoProfileRegisterContent img{
	max-height: 100%;
}



/* *************************** EDIT FORM ******************** */

.editAccountForm{
	padding-top: 6.3rem;
}
.editAccountForm label[for="fos_user_profile_form_imageFile"] {
	margin-top: 0rem;
	display: block;
	vertical-align: top;
	padding: 0.5rem 1rem 0.5rem 1rem;
	border: 1px solid rgba(125, 125, 125, 0.59);
	text-align: center;
	width: 88%;
	border-radius: 4px;
	position: relative;
	height: 100%;
	margin: 0 auto;
}
.editAccountForm label[for="fos_user_profile_form_imageFile"].enable{
	border: 1px solid rgb(253, 253, 253);
	cursor: pointer;
}
.editAccountForm label[for="fos_user_profile_form_imageFile"]::before {
	content: "(Privilégiez une photo carré)";
	width: 100%;
	height: 1rem;
	display: block;
	position: absolute;
	top: 3.1rem;
	font-size: 0.9rem;
	font-style: italic;
	color: #a7a5a5;
	left: 0%;
}
.editAccountForm .identityEditAccount,
.editAccountForm .coordsEditAccount,
.editAccountForm .passwordEditAccount,
.editAccountForm .changePasswordEditAccount,
.editAccountForm .imageFileEditAccount,
.editAccountForm .cityEditAccount,
.editAccountForm .submitEditAccount {
	display:inline-block;
	width: 49%;
}

.editAccountForm .imageFileEditAccount{
	vertical-align: bottom;
}
.editAccountForm .changePasswordEditAccount a {
	appearance: none;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
	background-color: transparent;
	border-radius: 4px;
	border: 0;
	box-shadow: inset 0 0 0 1px rgba(126, 148, 187, 0.57);
	cursor: pointer;
	display: inline-block;
	font-weight: 300;
	height: 3em;
	line-height: 3em;
	padding: 0 2.25em;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
}

.editAccountForm .changePasswordEditAccount{
	text-align: center;
}
.editAccountForm .changePasswordEditAccount a:hover{
	box-shadow: inset 0 0 0 1px #5c81c6;
	color: white;
}
.editAccountForm .changePasswordEditAccount a:active{
	background-color: rgba(106, 139, 206, 0.62);
}
.editAccountForm .photoProfileEditContainer{
	display: inline-block;
	height: 11rem;
	width: 40%;
}
.editAccountForm .photoProfileEditContent img{
	max-height: 100%;
	opacity: 0.4;
}
.editAccountForm .photoProfileEditContent img.enable{
	opacity:1;
}
.editAccountForm .photoProfileEditContent{
	border: 5.1px solid rgba(92, 129, 198, 0.82);
	min-height: 11rem;
	width: 11rem;
	height: 11rem;
	border-radius: 50%;
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
}
.editAccountForm  .imageFileRegister{
	display: inline-block;
	width: 50%;
	margin-top: 4.4rem;
	vertical-align: top;
}
.registerForm #fos_user_registration_form_sexe{
	height: 2.6rem;
	margin-bottom: 1.1rem;
	cursor:pointer;
}
.registerForm #fos_user_registration_form_sexe:hover{
	border: 1px solid #5c81c6;

}
.registerForm input:hover{
	border: 1px solid #5c81c6;
}
/* BUTTON VIEW MODE */
.editAccountForm fieldset button{
	position: absolute;
	top: 1.3rem;
	right: 0.3rem;
	background-color: #e2e2e2;
	border-radius: 3px;
	padding: 0.3rem 0.6rem;
	border: 3.9px solid #5c81c6;
	cursor:pointer;
}
.editAccountForm fieldset button i{
	font-size: 2.9rem;
	color: #5c81c6;
}
.editAccountForm fieldset button:hover{
	background-color: #5c81c6;
	border: 3.9px solid #e2e2e2;
}
.editAccountForm fieldset button:hover i{
	color:#e2e2e2;
}