/* ----------------------------------------------------------------- */
/* ------------------------------ RESET ---------------------------- */
/* ----------------------------------------------------------------- */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, main,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
}

html {
	overflow-y: auto;
	-webkit-font-smoothing: antialiased;
}

body {
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
}

article, aside, figure, figcaption, footer, header, main, nav, section {
	display: block;
}

body {
	font: 100%/1.3 robotoregular, "Helvetica Neue", Helvetica, Arial, sans-serif;
	overflow: hidden;
}

a {
	text-decoration: none;
	color: white;
}
a:visited {
	opacity: .9;
}
a:hover {
	text-decoration:underline;
}


hr {display: none;}

img {
	max-width: 100%;
	border: 0;
}

strong {font-family: robotobold, "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: normal;}

button {
	font: normal 100%/1 robotoregular, "Helvetica Neue", Helvetica, Arial, sans-serif;
	border: none;
	cursor: pointer;
}

/* ----------------------------------------------------------------- */
/* ------------------------------ HEADER --------------------------- */
/* ----------------------------------------------------------------- */
header{
	height: 5rem;
	box-shadow: 0px 8px 11px -5px rgba(50, 50, 50, 0.25);
}
	header > img{
		display: inline-block;
		width: 4rem;
		padding: 0.5rem;
		transition: transform 1s;
	}
		header > img.active {
			transform: rotate(180deg);
		}
			header div{
				display: inline-block;
				width: calc(100% - 8rem);
				padding-left: 0.9rem;
				height: 100%;
			}
				header .logo span {
					display: inline-block;
					width: 100%;
					height: 100%;
					vertical-align: bottom;
					text-align: center;
				}
					header .logo span > img{
						margin-top: 1.8rem;
						width: 15.2rem;
					}

/* HEADER MIN 1000px */
@media screen and (min-width: 1000px){
	header .logo span > img {
		margin-top: 1.4rem;
		width: 17.5rem;
	}
}


/* ----------------------------------------------------------------- */
/* -----------------------HOMEPAGE HEADER -------------------------- */
/* ----------------------------------------------------------------- */

.homepageHeader{
	padding: 4.9rem 1rem 1rem 1rem;
}
	.homepageHeader h1{
		 color:#065A60;
		font-size: 1.5rem;
	 }
		.homepageHeader p{
			font: 1.5rem "robotoregular";
			color: #656060;
		}
			.homepageHeader button{
				margin-top: 3.1rem;
				padding: 0.8rem 1.3rem;
				color: white;
				border-radius: 3px;
				display:inline-block;
				box-shadow: 2.5px 2.5px 10px 1px rgba(50, 50, 50, 0.65);
				transform: perspective(1px) translateZ(0);
				-webkit-tap-highlight-color: rgba(0,0,0,0);
				-webkit-font-smoothing: antialiased;
			}
				.homepageHeader button:hover {
					-webkit-animation-name: hvr-pulse-shrink;
					animation-name: hvr-pulse-shrink;
					-webkit-animation-duration: 0.3s;
					animation-duration: 0.3s;
					-webkit-animation-timing-function: linear;
					animation-timing-function: linear;
					-webkit-animation-iteration-count: infinite;
					animation-iteration-count: infinite;
					-webkit-animation-direction: alternate;
					animation-direction: alternate;
				}
					.homepageHeader .btnRechercher{
						background-color: #ed1b36;
						padding: 0.5rem 1.4rem;
						display: inline-block;
						border-radius: 2px;
						margin-top: 1.3rem;
						font-size: 1.3rem;
						margin-right: 1rem;
						box-shadow: 2.5px 2.5px 10px 1px rgba(50, 50, 50, 0.65);
						transform: perspective(1px) translateZ(0);
						-webkit-tap-highlight-color: rgba(0,0,0,0);
						-webkit-font-smoothing: antialiased;
					}
					  .homepageHeader .btnRechercher:hover{
						  -webkit-animation-name: hvr-pulse-shrink;
						  animation-name: hvr-pulse-shrink;
						  -webkit-animation-duration: 0.3s;
						  animation-duration: 0.3s;
						  -webkit-animation-timing-function: linear;
						  animation-timing-function: linear;
						  -webkit-animation-iteration-count: infinite;
						  animation-iteration-count: infinite;
						  -webkit-animation-direction: alternate;
						  animation-direction: alternate;
						  text-decoration: none;
					  }
					 .homepageHeader .btnProposer{
						 background-color: #065a60;
						 padding: 0.5rem 1.4rem;
						 display: inline-block;
						 border-radius: 2px;
						 margin-top: 1.3rem;
						 font-size: 1.3rem;
						 margin-right: 1rem;
						 box-shadow: 2.5px 2.5px 10px 1px rgba(50, 50, 50, 0.65);
						 transform: perspective(1px) translateZ(0);
						 -webkit-tap-highlight-color: rgba(0,0,0,0);
						 -webkit-font-smoothing: antialiased;
					 }
					   .homepageHeader .btnProposer:hover{
						   -webkit-animation-name: hvr-pulse-shrink;
						   animation-name: hvr-pulse-shrink;
						   -webkit-animation-duration: 0.3s;
						   animation-duration: 0.3s;
						   -webkit-animation-timing-function: linear;
						   animation-timing-function: linear;
						   -webkit-animation-iteration-count: infinite;
						   animation-iteration-count: infinite;
						   -webkit-animation-direction: alternate;
						   animation-direction: alternate;
						   text-decoration: none;
					   }



						/* ----------------------------------------------------------------- */
						/* --------------------ANIMATION HVR PULSE SHRINK ------------------ */
						/* ----------------------------------------------------------------- */

						@-webkit-keyframes hvr-pulse-shrink {
							to {
								-webkit-transform: scale(0.9);
								transform: scale(0.9);
							}
						}
						@keyframes hvr-pulse-shrink {
							to {
								-webkit-transform: scale(0.9);
								transform: scale(0.9);
							}
					}

.btnLogin{
	background-color: #065A60;
	margin-right: 0.5rem;
}
	.btnRegister{
		background-color: #ED1B36;
	}

/* ----------------------------------------------------------------- */
/* ---------------HOMEPAGE TOP ANNOUNCES --------------------------- */
/* ----------------------------------------------------------------- */
.topAnnounces{
	padding: 3.2rem 1rem 1rem 1rem;
}
	.topAnnounces h2{
		font-size: 1.7rem;
		color: #383232;
		text-align:center;
	}
		.topAnnounces ul{
			display: flex;
			list-style: none;
			padding: 2rem 0.5rem 0.5rem 0.5rem;
			flex-wrap: wrap;
		}
			.topAnnounces ul li{
				background-color: transparent;
				border: 1px solid rgba(0,0,0,0.1);
				border-radius: 3px;
				box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.06);
				width :100%; /* width: 14rem; */
				height: 62.6vw; /* height: 9.3rem; */
				margin-bottom: 1.9rem;
			}
				.topAnnounces ul li > a{
					height: 100%;
					width: 100%;
					display: block;
					cursor: pointer;
				}
				  .topAnnounces ul li > button{
					  padding: 0;
					  background-color: white;
					  text-align: left;
					  height: 100%;
					  width: 100%;
					  display: block;
					  cursor: pointer;
				  }
					.pictTop{
						height: 52.7vw; /* height: 7rem; */
						width: 100%;
						position:relative;
					}
						.pictTop img{
							border: 0;
							height: 100%;
							min-width: 100%;
						}
							.topAnnounces .overlay {
								position: absolute;
								top: 0;
								bottom: 0;
								left: 0;
								right: 0;
								height: 100%;
								width: 100%;
								opacity: 0;
								transition: .5s ease;
								background-color: rgba(49, 44, 44, 0.76);
							}
								.topAnnounces a:hover .overlay {
									opacity: 1;
								}
								.topAnnounces button:hover .overlay{
									opacity: 1;
								}
									.topAnnounces .text {
										color: white;
										font-size: 20px;
										position: absolute;
										top: 50%;
										left: 50%;
										transform: translate(-50%, -50%);
										-ms-transform: translate(-50%, -50%);
									}
										.textTop{
											color: #2b2828;
											padding: 0.6rem 0.2rem 0.6rem 0.8rem;
											font: 0.9rem "robotoblack";
										}

/* ----------------------------------------------------------------- */
/* ----------------------------  HEADER NAVBAR --------------------- */
/* ----------------------------------------------------------------- */
header nav {
	display: block;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 2.9rem;
	background-color: rgba(39, 43, 43, 0.88);
	z-index: 100;
	text-align: center;
}
	 header nav ul{
		 display: block;
		 height: 100%;
	 }
		header nav ul li {
			display: inline-block;
			height: 100%;
			width: 18.8%;
		}
		 header nav li.redBtnNav span{
			 color: #963737;
		 }
			header nav ul li a{
				text-align: center;
			}
			  header nav ul li button{
				  text-align: center;
				  background-color: transparent;
			  }
			   header nav li.blueBtnNav{
				   color: #366aff;
				   display:none;
			   }
				header nav a:hover i::before{
					color: #1b6d85;
				}
				   header nav button:hover i::before{
					   color: #1b6d85;
				   }
					header nav i{
						margin-top: 0.5rem;
					}
						header nav i::before{
							color: white;
							font-size: 2.1rem;
						}
							header nav a span{
								display : none;
							}
							  header nav button span{
								  display:none;
							  }
								.openMenu{
									display:none;
								}
/* TOP ANNOUNCES MIN 400 px */
@media screen and (min-width:400px) {
	.topAnnounces h2 {
		text-align: left;
	}
		.topAnnounces ul {
			justify-content: start;
		}
			.topAnnounces ul li {
				width: 9.8rem;
				margin-bottom: 1.9rem;
				margin-right: 1rem;
				height: 9.3rem;
			}
			  .pictTop{
				  height: 7rem;
			  }
				.topAnnounces ul li:nth-child(even){
					margin-right:0;
				}
					.btnLogin {
						margin-right: 0.9rem;
					}
						.homepageHeader button {
							padding: 0.8rem 1.3rem;
						}
}

/* TOP ANNOUNCES MIN 500 px */
@media screen and (min-width:500px) {
	.topAnnounces ul li {
		width: 12.5rem;
		margin-bottom: 1.9rem;
		margin-right: 2rem;
	}
}

/* TOP ANNOUNCES MIN 600 px */
@media screen and (min-width:600px) {
	.topAnnounces ul li {
		width: 10rem;
		margin-bottom: 1.9rem;
		margin-right: 1rem;
	}
		.topAnnounces ul li:nth-child(even){
			margin-right:1rem;
		}
}

/* TOP ANNOUNCES MIN 700 px */
@media screen and (min-width:700px) {
	.topAnnounces ul li {
		width: 27.6%;
		margin-right: 2.1rem;
	}
		.topAnnounces ul li:nth-child(even){
			margin-right: 2.1rem;
		}
}

/* TOP ANNOUNCES MIN 800 px */
@media screen and (min-width:800px) {
	.topAnnounces ul li {
		height: 21.4vw;
	}
		.pictTop {
			height: 17.3vw;
		}
}

/* HEADER MIN 1000 px */
@media screen and (min-width:1000px) {
	.homepageHeader button {
		padding: 1.1rem 1.6rem;
	}
		.btnLogin {
			margin-right: 1.6rem;
		}
			header nav {
				display: block;
				position: absolute;
				top: 5rem;
				width: 27rem;
				left: -50%;
				height: 18.7rem;
				background-color: #ffffff;
				box-shadow: 4px 5.8px 18px -6.2px rgb(196, 201, 202);
				z-index: 3;
				transition: left 1s;
			}
				header nav.active{
					left:0;
				}
					header nav ul {
						display: block;
						height: 100%;
					}
						header nav ul li {
							display: block;
							height: 3.5rem;
							padding-left: 2rem;
							width: auto;
						}
							header nav li.blueBtnNav{
								display:block;
							}
							header nav li.blueBtnNav span {
								color :#4765bb;
							}
							header nav ul a{
								height: 100%;
								display: block;
								padding-left: 0;
								width: 100%;
								text-align: left;
								font-size: 1.2rem;
							}
							  header nav ul button{
								  height: 100%;
								  display: block;
								  padding-left: 0;
								  width: 100%;
								  text-align: left;
								  font-size: 1.2rem;
								  background-color: white;
							  }
								header nav a span:hover{
									-webkit-animation-name: hvr-wobble-top;
									animation-name: hvr-wobble-top;
									-webkit-animation-duration: 1s;
									animation-duration: 1s;
									-webkit-animation-timing-function: ease-in-out;
									animation-timing-function: ease-in-out;
									-webkit-animation-iteration-count: 1;
									animation-iteration-count: 1;
								}
								  header nav button span:hover{
									  -webkit-animation-name: hvr-wobble-top;
									  animation-name: hvr-wobble-top;
									  -webkit-animation-duration: 1s;
									  animation-duration: 1s;
									  -webkit-animation-timing-function: ease-in-out;
									  animation-timing-function: ease-in-out;
									  -webkit-animation-iteration-count: 1;
									  animation-iteration-count: 1;
								  }

								/* ----------------------------------------------------------------- */
								/* ------------------ ANIMATION HVR WOBBLE TOP---------------------- */
								/* ----------------------------------------------------------------- */
								@keyframes hvr-wobble-top {
									16.65% {
										-webkit-transform: skew(-12deg);
										transform: skew(-12deg);
									}
									33.3% {
										-webkit-transform: skew(10deg);
										transform: skew(10deg);
									}
									49.95% {
										-webkit-transform: skew(-6deg);
										transform: skew(-6deg);
										color:gray;
									}
									66.6% {
										-webkit-transform: skew(4deg);
										transform: skew(4deg);
									}
									83.25% {
										-webkit-transform: skew(-2deg);
										transform: skew(-2deg);
									}
									100% {
										-webkit-transform: skew(0);
										transform: skew(0);
									}
								}
	header nav i::before{
		display:none;
	}
		header nav a span{
				display: block;
				color: #483d3d;
				font-family: "robotobold";
				text-align: left;
				-webkit-transform: perspective(1px) translateZ(0);
				transform: perspective(1px) translateZ(0);
				box-shadow: 0 0 1px transparent;
				-webkit-transform-origin: 0 100%;
				transform-origin: 0 100%;
				-webkit-tap-highlight-color: rgba(0,0,0,0);
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
		}
		  header nav button span{
			  display: block;
			  color: #483d3d;
			  font-family: "robotobold";
			  text-align: left;
			  -webkit-transform: perspective(1px) translateZ(0);
			  transform: perspective(1px) translateZ(0);
			  box-shadow: 0 0 1px transparent;
			  -webkit-transform-origin: 0 100%;
			  transform-origin: 0 100%;
			  -webkit-tap-highlight-color: rgba(0,0,0,0);
			  -webkit-font-smoothing: antialiased;
			  -moz-osx-font-smoothing: grayscale;
		  }
			.openMenu {
				content: "";
				width: 1rem;
				height: 1rem;
				border-bottom: 2px solid gray;
				border-right: 2px solid gray;
				transform: rotate(-45deg);
				position: absolute;
				top: 2rem;
				left: 5.4rem;
				display: block;
				background-color: white;
				outline: none;
				transition: transform 1s;
				-webkit-animation-name: hvr-pulse-shrink2;
				animation-name: hvr-pulse-shrink-2;
				-webkit-animation-duration: 0.5s;
				animation-duration: 0.5s;
				-webkit-animation-timing-function: linear;
				animation-timing-function: linear;
				-webkit-animation-iteration-count: infinite;
				animation-iteration-count: infinite;
				-webkit-animation-direction: alternate;
				animation-direction: alternate;
			}
					/* ----------------------------------------------------------------- */
					/* ------------------ANIMATION HVR PULSE SHRINK 2 ------------------ */
					/* ----------------------------------------------------------------- */
					@-webkit-keyframes hvr-pulse-shrink-2 {
						to {
							-webkit-width: 1.2rem;
							-webkit-height: 1.2rem;
							width: 1.2rem;
							height: 1.2rem;
						}
					}
					@keyframes hvr-pulse-shrink-2 {
						to {
							-webkit-width: 1.2rem;
							-webkit-height: 1.2rem;
							width: 1.2rem;
							height: 1.2rem;
						}
					}

.openMenu.active{
	transform: rotate(135deg);
}
	.topAnnounces ul li {
		height: 14.6rem;
	}
		.pictTop {
			height: 12.1rem;
		}
			.textTop p{
				font-size: 1.1rem;
			}
}

/* TOP ANNOUNCES MIN 1200 px */
@media screen and (min-width:1200px) {
	.topAnnounces ul li {
		width: 21.8%;
	}
}

/* HEADER MIN 1500 px */
@media screen and (min-width:1500px) {
	.topAnnounces ul li {
		width: 20.9rem;
	}
	.homepageHeader h1 {
		font-size: 1.5rem;
	}
	.homepageHeader p {
		font-size: 1.8rem;
	}
	.homepageHeader button {
		padding: 1rem 1.4rem;
		font-size:1.2rem;
	}
}

/* ----------------------------------------------------------------- */
/* ------------------ INFORMATIONS 2 SYSTEMES ---------------------- */
/* ----------------------------------------------------------------- */
.deuxSystemes{
	padding: 3.2rem 1rem 1rem 1rem;
}
	.deuxSystemes h2{
		font-size: 1.7rem;
		color: #383232;
		text-align:center;
	}
		.deuxSystemes ul{
			display: flex;
			list-style: none;
			padding: 2rem 0.5rem 0.5rem 0.5rem;
			flex-wrap: wrap;
		}
			.deuxSystemes ul li{
				background-color: transparent;
				border: 1px solid rgba(0,0,0,0.1);
				border-radius: 3px;
				box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.06);
				width: 100%;
				height: 61.5vw;

				margin-bottom: 1.9rem;
			}
			.deuxSystemes ul a{
				height: 100%;
				width: 100%;
				display: block;
				cursor: pointer;
			}
				.deuxSystemes .sysTop{
					height: 52vw;
					width: 100%;
					position: relative;
				}
					.deuxSystemes .sysTop img{
						border: 0;
						height: 100%;
						min-width: 100%;
					}
					 	.sysTop .overlay{
							position: absolute;
							top: 0;
							bottom: 0;
							left: 0;
							right: 0;
							height: 100%;
							width: 100%;
							opacity: 0;
							transition: .5s ease;
							background-color: rgba(49, 44, 44, 0.76);
						}
							a:hover .sysTop  .overlay {
								opacity: 1;
							}
								.sysTop .text{
									color: white;
									font-size: 20px;
									position: absolute;
									top: 50%;
									left: 50%;
									transform: translate(-50%, -50%);
									-ms-transform: translate(-50%, -50%);
								}
									.deuxSystemes .sysText{
										color: #2b2828;
										padding: 0.6rem 0.2rem 0.6rem 0.8rem;
										font: 0.9rem "robotoblack";
									}
/* 2 SYSTEMES MIN 400 px */
@media screen and (min-width:400px) {
	.deuxSystemes h2 {
		text-align: left;
	}
		.deuxSystemes ul {
			justify-content: left;
		}
			.deuxSystemes ul li {
				width: 16.6rem;
				height: 12.4rem;
			}
				.deuxSystemes .sysTop {
					height: 10.2rem;
				}
}
/* 2 SYSTEMES MIN 500 px */
@media screen and (min-width:500px) {
	.deuxSystemes ul li {
		width: 90%;
		height: 10.2rem;
	}
		.deuxSystemes .sysTop{
			display: inline-block;
			width: 50%;
			height:10.2rem;
		}
		.deuxSystemes .sysText{
			display: inline-block;
			width: 42%;
			vertical-align: top;
			margin-top: 4.3rem;
			text-align: center;
		}
}

/* 2 SYSTEMES MIN 700 px */
@media screen and (min-width:700px) {
	.deuxSystemes ul li:first-child{
		margin-right: 1.4rem;
	}
		.deuxSystemes ul li{
			width: 47.9%;
			height: 8rem;
		}
			.deuxSystemes .sysTop{
				width: 50%;
				height: 8rem;
			}
				.deuxSystemes .sysText {
					margin-top: 3rem;
					width: 43.4%;
				}
}

/* 2 SYSTEMES MIN 900 px */
@media screen and (min-width:900px) {
	.deuxSystemes ul li {
		width: 48.4%;
		height: 10rem;
	}
		.deuxSystemes .sysTop {
			width: 58%;
			height: 10rem;
		}
			.deuxSystemes .sysText {
				margin-top: 3.9rem;
				width: 33.7%;
			}
}

/* 2 SYSTEMES MIN 1000 px */
@media screen and (min-width:1000px) {
	.deuxSystemes ul li {
		width: 48.5%;
		height: 12rem;
	}
		.deuxSystemes .sysTop {
			width: 59%;
			height: 12rem;
		}
			.deuxSystemes .sysText {
				margin-top: 4.7rem;
				width: 34.1%;
				font-size: 1.2rem;
			}
}

/* 2 SYSTEMES MIN 1100 px */
@media screen and (min-width:1100px) {
	.deuxSystemes ul li {
		width: 30.3rem;
		height: 12.6rem;
	}
	.deuxSystemes ul li:first-child {
		margin-right: 4.4rem;
	}
	.deuxSystemes .sysTop {
		height: 12.6rem;
	}
	.deuxSystemes .sysText {
		width: 10.5rem;
	}
}


/* ----------------------------------------------------------------- */
/* --------------------------- FOOTER  ----------------------------- */
/* ----------------------------------------------------------------- */

footer{
	display: block;
	width: 100%;
	background-color: #eceaea6b;
	box-shadow: 0px 2px 17px 0px rgba(130, 113, 113, 0.36);
	margin-bottom: 2.9rem;
	padding-bottom: 1.1rem;

}
	footer .icons{
		display: block;
		width: 100%;
		margin: 0 auto;
		list-style: none;
		padding-top: 0.8rem;
		text-align: center;
	}
		footer .icons li{
			display: inline-block;
			width: 10.5%;
			height: 3rem;
			text-align: center;
			margin-top: 0.4rem;
		}
			footer .icons li a{
				display: block;
			}
				footer .icons i::before{
					font-size: 1.8rem;
					color: #4e4646;
				}
					footer .icons a:hover i::before{
						color:gray;
					}
						footer .icons span {
							display: none;
						}
							footer .copyright{
								display: block;
								list-style: none;
								text-align:center;
							}
							  footer .copyright li{
								  display: inline-block;
								  width: auto;
								  text-align: center;
								  margin-bottom: 0.2rem;
								  border-right: 1px solid #463f3f7d;
								  margin-right: 0.4rem;
								  padding-right: 0.4rem;
							  }
								footer  .copyright a{
									color: #4e4646;
									font: 1.1rem "robotoitalic";
								}
									footer  .copyright a:hover{
										text-decoration: underline;
									}
										footer .copyright li:last-child{
											border-right:0;
										}
/* FOOTER MIN 800px */
@media screen and (min-width:800px) {
	footer .copyright {
		width: 80%;
		margin: 0 auto;
	}
		footer .icons{
			width: 80%;
		}
}

/* FOOTER MIN 1100 */
@media screen and (min-width:1000px) {
	footer{
		margin-bottom: 0;
	}
		footer .icons {
			width: 60%;
		}
}

/* ----------------------------------------------------------------- */
/* ---------------------- MODAL CONNEXION -------------------------- */
/* ----------------------------------------------------------------- */
.dialog{
	opacity:1;
}
	.dialog[aria-hidden="true"] {
		opacity:0;
		left:-9999px;
		visibility:hidden;
	}
		.dialog footer{
			display:none;
		}
			.dialog header{
				display:none;
			}
				.dialog *{
					outline: none;
				}
					.dialog div[role="document"]{
						padding: 1rem;
						overflow: auto;
					}
						.dialog-overlay {
							position: fixed !important;
							z-index: 150;
							top: 0px;
							right: 0px;
							bottom: 0px;
							left: 0px;
							z-index: 4;
							overflow-y: auto;
							transform :translate3d(0,0,0);
							background-color: rgba(43, 46, 56, 0.9);
						}
							.dialog-content {
								opacity: 1;
								transition: all 0.6s;
								background-color: rgb(255, 255, 255);
								position: fixed;
								top: 0;
								left: 50%;
								z-index: 5;
								transform: translate(-50%, 0);
								overflow: auto;
								width: 100vw;
								height: 100vh;
							}
								.dialog[aria-hidden="true"] .dialog-content{
									opacity:0;
									transform: translate(-75%, -50%);
									transition: none;
									visibility:hidden;
								}

/* DIALOG MIN 600px */
@media screen and (min-width: 600px) {
	.dialog-content {
		width: 90%;
		height:80%;
		transform: translate(-50%, -57%);
		top: 50%;
	}
}

/* DIALOG MIN 700px */
@media screen and (min-width: 700px) {
	.dialog-content {
		width: 35rem;
		padding: 0 2rem;
	}
}
/* DIALOG MIN 1000px */
@media screen and (min-width: 1000px) {
	.dialog h1 {
		margin: 0;
		font-size: 2.15em;
	}
	.dialog-content {
		height: 90%;
		top:57%;
	}
}

.dialog-close {
	position: absolute;
	top: 0;
	right: 0em;
	border: 0;
	padding: 0;
	background-color: transparent;
	font-weight: bold;
	font-size: 1.95em;
	width: 1.2em;
	height: 1.2em;
	text-align: center;
	cursor: pointer;
	transition: 0.15s;
}
	#dialogDescription{
		font-size: 1.3rem;
		color: #797979;
	}

/* ----------------------------------------------------------------- */
/* ------------------- FORM LOGIN ---------------------------------- */
/* ----------------------------------------------------------------- */

.dialog #login-form{
	margin-top: 2.5rem;
	padding-bottom: 4.6rem;
}

/* LOGIN FORM MIN 600 px */
@media screen and (min-width: 600px) {
	.dialog #login-form {
		padding-bottom: 3rem;
	}
}

/* LOGIN FORM MIN 600 px */
@media screen and (min-width: 1000px) {
	.dialog  #login-form {
		padding-bottom: 0;
	}
}

/* ********************* FORM LOGIN FOR DIALOG ********************* */

.dialog #login-form label{
	font-size: 1.1rem;
	cursor: pointer;
}
	.dialog .normalLogin{
		position: relative;
	}
		.dialog #login-form input[type="text"],
		.dialog #login-form input[type="password"]{
			display: block;
			width: calc( 90% - 6.2rem);
			margin-top: 0.3rem;
			font-size: 1.1rem;
			height: 2.2rem;
			border-radius: 3px;
			border: 1px solid #6f6565;
			margin-bottom: 1.2rem;
			padding: 0.2rem 0rem 0rem 0.6rem;
			margin-left: 2.8rem;
		}
		.dialog #login-form input[type="checkbox"]{
				position: absolute;
				left: -9999px;
		}
			.dialog .normalLogin::before{
				background: url(../images/email-outline.svg) no-repeat left;
				content: "";
				width: 2rem;
				display: block;
				height: 2rem;
				top: 1.9rem;
				position: absolute;
				margin-left: 0.1rem;
			}

			.dialog .normalLogin::after{
				background: url(../images/lock-open-outline.svg) no-repeat left;
				content: "";
				width: 2rem;
				display: block;
				height: 2rem;
				top: 7.35rem;
				margin-left: 0.1rem;
				position: absolute;
			}
				.dialog .normalLogin input[type="submit"]{
					display: block;
					margin-top: 1.8rem;
					width: 100%;
					height: 3rem;
					border-radius: 3px;
					border: none;
					color: white;
					background-color: #065A60;
					font-size: 1.2rem;
					cursor: pointer;
				}
					.dialog .normalLogin input[type="submit"]:hover{
						opacity:0.9;
					}
						.dialog .rememberMe{
							padding-left:2rem;
							position: relative;
							color: #4e4a4a;
							display: inline-block;
						}
							.dialog .rememberMe::before{
								content: "";
								height: 1.4rem;
								width: 1.4rem;
								position: absolute;
								display: inline-block;
								border: 1.3px solid #635c5c;
								left: 0;
							}
								.dialog #login-form input[type="checkbox"]:checked + .rememberMe::after{
									content: "";
									display: block;
									position: absolute;
									height: 1.1rem;
									width: 0.6rem;
									border-bottom: 2px solid black;
									border-right: 2px solid black;
									transform: rotate(32deg);
									top: 0rem;
									left: 0.4rem;
								}
.dialog .socianetwork h2{
	color: #463e3e;
	font: 1.9rem "robotoblack";
}
	.dialog .socianetwork ul{
		display: block;
		list-style: none;
		margin-top: 1rem;
	}
		.dialog .socianetwork ul li{
			display: block;
			width: 100%;
			height: 2.5rem;
			margin-bottom: 0.6rem;
		}
			.dialog input:-webkit-autofill,
			.dialog textarea:-webkit-autofill,
			.dialog select:-webkit-autofill {
				background-color: white !important;
			}
			   .dialog .socianetwork{
				   margin-top: 2.5rem;
			   }
				.dialog .socianetwork li:hover{
						opacity:0.8;
				}
					.dialog .socianetwork .facebook{
						height: 100%;
						width: 100%;
						border-radius: 3px;
						background-color: #4267b2;
						color: white;
						display: block;
						text-align: center;
						font-size: 1.3rem;
					}
						.dialog .socianetwork .button{
								opacity:0.9;
							}
								.dialog .socianetwork .googleplus{
									height: 100%;
									width: 100%;
									border-radius: 3px;
									background-color: white;
									color: white;
									background-color: #e25454;
									display: block;
									text-align: center;
									font-size: 1.3rem;
								}
									.dialog .socianetwork .twitter{
										 height: 100%;
										 width: 100%;
										 border-radius: 3px;
										 background-color: #00ACEE;
										display: block;
										text-align: center;
										font-size: 1.3rem;
										 color: white;
									 }
										.dialog .socianetwork ul i{
											margin-right: 1rem;
											margin-top: 0.7rem;
										}
											.dialog .socianetwork ul li:hover a{
												text-decoration:none;
											}
.dialog .noAccount{
		margin-top: 1.4rem;
		font-size: 1rem;
		display: block;
		color: #635656;
		font-family: "robotoregular";
	}
	.dialog .noAccountLink{
		margin-top: 0.5rem;
		border-radius: 3px;
		border: none;
		color: white;
		background-color: #bb1b51;
		font-size: 1.2rem;
		display: block;
		padding: 0.5rem 1rem;
		cursor: pointer;
		width: 8.1rem;
	}
		.dialog .noAccountLink:hover{
			text-decoration:none;
			opacity:0.8;
		}

.dialog .ouTransition{
    overflow: hidden;
    text-align: center;
    margin: 1.6rem 0;
}
	.dialog .ouContainer{
		position: relative ;
		padding: 16px ;
	}
		.dialog .ouContainer::before{
			content: '' ;
			position: absolute ;
			border-bottom: 1px solid #e4e4e4 ;
			top: 50% ;
			right: 100% ;
			width: 5000px ;
		}
			.dialog .ouContainer::after{
				content: '' ;
				position: absolute ;
				border-bottom: 1px solid #e4e4e4 ;
				top: 50% ;
				left: 100% ;
				width: 5000px ;
			}
				.dialog .ouContent{
					font-weight: normal ;
					margin: 0px ;
					word-wrap: break-word ;
					font-size: 15px ;
					line-height: 18px ;
					letter-spacing: 0.2px ;
					padding-top: 0px ;
					padding-bottom: 0px ;
					color: #767676 ;
					display: inline ;
				}
					.dialog .passwordForget{
						color: #3c3131;
						margin-top: 1rem;
						display: block;
						font: 1rem "robotoitalic";
						cursor: pointer;
						width: 100%;
						margin-top: 0.6rem;
						text-align: center;
					}



/* *****************************************
************************* LOADER ***********
****************************************** */
.no-js #loader {
	display: none;
}
	.js #loader {
		display: block;
		position: absolute;
		left: 100px;
		top: 0;
	}
		.se-pre-con {
			 position: fixed;
			 left: 0px;
			 top: 0px;
			 width: 100%;
			 height: 100%;
			 z-index: 9999;
			 background: url(../images/Preloader_3.gif) center no-repeat #fff;
		 }


/* *****************************************
************* REGISTER MODALE **************
****************************************** */

.dialog .fos_user_registration_register{
	padding-bottom: 5.1rem;
}
	.dialog .fos_user_registration_register .group{
		margin: 1rem 0;
		position: relative;
	}
		.dialog .fos_user_registration_register input[type="submit"]{
			display: block;
			margin-top: 1.8rem;
			width: 100%;
			height: 3rem;
			border-radius: 3px;
			border: none;
			color: white;
			background-color: #065A60;
			font-size: 1.2rem;
			cursor: pointer;
		}
			.dialog .fos_user_registration_register input[type="submit"]:hover{
				opacity:0.8;
			}
				.dialog .fos_user_registration_register label{
					font-size: 1.1rem;
					cursor: pointer;
				}
					.dialog .fos_user_registration_register input[type="text"],
					.dialog .fos_user_registration_register input[type="number"],
					.dialog .fos_user_registration_register input[type="password"],
					.dialog .fos_user_registration_register input[type="email"]
					{
						display: block;
						width: 84%;
						margin-top: 0.3rem;
						font-size: 1.1rem;
						height: 2.2rem;
						border-radius: 3px;
						border: 1px solid #6f6565;
						margin-bottom: 1.2rem;
						padding: 0.2rem 0rem 0rem 0.6rem;
						margin-left: 2.8rem;
					}
						.dialog #fos_user_registration_form_sexe{
							display: block;
							width: 86%;
							margin-top: 0.3rem;
							font-size: 1.1rem;
							height: 2.6rem;
							border-radius: 3px;
							border: 1px solid #6f6565;
							margin-bottom: 1.2rem;
							padding: 0.2rem 0rem 0rem 0.6rem;
							margin-left: 2.8rem;
						}
							.dialog #fos_user_registration_form_plainPassword::after {
								display: block;
								content: "";
								width: 90%;
								height: 3px;
								background-color: #065A60;
								margin: 2rem 0 1.6rem 1rem;
							}
									.dialog .group.name::after {
										display: block;
										content: "";
										width: 90%;
										height: 3px;
										background-color: #065A60;
										margin: 2rem 0 1.6rem 1rem;
									}
/* ************** IMAGE DES INPUT ************* */

.group.email::before {
	background: url(../images/email-outline.svg) no-repeat left;
	content: "";
	width: 1.9rem;
	display: block;
	height: 2rem;
	top: 1.9rem;
	position: absolute;
	margin-left: 0.1rem;
}
	.group.username::before{
		background: url(../images/account-box.svg) no-repeat left;
		content: "";
		width: 2rem;
		display: block;
		height: 2rem;
		top: 1.9rem;
		position: absolute;
		margin-left: 0.1rem;
	}
			#fos_user_registration_form_plainPassword > div:nth-child(1):before{
				background: url(../images/lock-open-outline.svg) no-repeat left;
				content: "";
				width: 2rem;
				display: block;
				height: 2rem;
				top: 1.9rem;
				position: absolute;
				margin-left: 0.1rem;
			}
				#fos_user_registration_form_plainPassword > div:nth-child(2):before {
					background: url(../images/lock-reset.svg) no-repeat left;
					content: "";
					width: 3.3rem;
					display: block;
					height: 2.3rem;
					top: 7.2rem;
					position: absolute;
					margin-left: 0.1rem;
					background-size: 1.8rem;
				}
						.group.sexe::before{
							background: url(../images/gender-male-female.svg) no-repeat left;
							content: "";
							width: 2rem;
							display: block;
							height: 2rem;
							top: 1.9rem;
							position: absolute;
							margin-left: 0.1rem;
						}
							.group.lastname::before{
								background: url(../images/account.svg) no-repeat left;
								content: "";
								width: 2rem;
								display: block;
								height: 2rem;
								top: 1.9rem;
								position: absolute;
								margin-left: 0.1rem;
							}
								.group.name::before{
									background: url(../images/account-alert.svg) no-repeat left;
									content: "";
									width: 2rem;
									display: block;
									height: 2rem;
									top: 1.9rem;
									position: absolute;
									margin-left: 0.1rem;
								}
									.group.phone::before{
										background: url(../images/phone.svg) no-repeat left;
										content: "";
										width: 2rem;
										display: block;
										height: 2rem;
										top: 1.9rem;
										position: absolute;
										margin-left: 0.1rem;
									}
										.group.adress::before{
											background: url(../images/home.svg) no-repeat left;
											content: "";
											width: 2rem;
											display: block;
											height: 2rem;
											top: 1.9rem;
											position: absolute;
											margin-left: 0.1rem;
										}
											.group.city::before{
												background: url(../images/city.svg) no-repeat left;
												content: "";
												width: 2rem;
												display: block;
												height: 2rem;
												top: 1.9rem;
												position: absolute;
												margin-left: 0.1rem;
											}
												.group.postal::before{
													background: url(../images/code-equal.svg) no-repeat left;
													content: "";
													width: 2rem;
													display: block;
													height: 2rem;
													top: 1.9rem;
													position: absolute;
													margin-left: 0.1rem;
												}


/* *****************************************
************* MODALE REGISTER **************
****************************************** */

.dialog .fos_user_registration_register .imageFile{
	margin-top: 2.1rem;
	margin-bottom: 2rem;
}
	.dialog .fos_user_registration_register .imageFileContent{
		border-radius: 50%;
		overflow: hidden;
		height: 100%;
		width: 100%;
		border: 2px solid #1285c6;
	}
		.dialog .fos_user_registration_register .imageFileContent img{
			display: block;
			text-align: center;
			margin: 0 auto;
			height: 100%;
			width: 100%;
			border-radius: 50%;
			background-repeat: no-repeat;
			background-position:center;
			background-size: 7.3rem;
		}
			.dialog  .fos_user_registration_register .imagefilecontent img.enable{
				opacity:1;
			}
				.dialog .fos_user_registration_register .imagefileContent{
					border: 5.1px solid rgba(92, 129, 198, 0.82);
					min-height: 11rem;
					width: 11rem;
					height: 11rem;
					border-radius: 50%;
					margin: 0 auto;
					text-align: center;
					overflow: hidden;
				}
					.dialog .fos_user_registration_register .imageFileRegister {
						display: block;
						vertical-align: top;
						width: 100%;
						margin: 0 auto;
						margin-top: 1.9rem;
						text-align: center;
					}
						.dialog .fos_user_registration_register .imageFileContainer {
							display: block;
							height: 7rem;
							width: 7rem;
							text-align: center;
							margin: 0 auto;
						}

/* REGISTER MIN 800px */
@media screen and (min-width: 800px){
	.dialog .fos_user_registration_register .imageFileRegister{
		display: inline-block;
		padding-left: 2.9rem;
		margin-top: 3rem;
		width: 50%;
		text-align:left;
	}
		.dialog .fos_user_registration_register .imageFileContainer{
			 display: inline-block;
			 text-align:left;
		 }
}

.dialog .fos_user_registration_register .imageFileRegister label{
	background-color: #1285c6;
	padding: 0.5rem 1rem;
	border-radius: 3px;
	color: white;
}
	.dialog .fos_user_registration_register .imageFileContent img:before{
		opacity:0;
	}
		.dialog #fos_user_registration_form_imageFile{
			display:none;
		}


/* *********** EDIT ACCOUNT PAGE ************* */

.editAccount .parallax-window{
	min-height: 33.3rem;
	background: transparent;
}
	.editAccount .parallax-window-2{
		min-height: 33.3rem;
		background: transparent;
	}
	.editAccount h1{
		text-align: center;
		font: 1.9rem "robotobold";
		color: #585555;
		margin-top: 2.1rem;
		margin-bottom: 1.3rem;
	}
		.editAccount h1 strong{
			color: #1285c6;
		}
			.editAccount .editInfo{
				display:block;
				width:90%;
				margin: 0 auto;
				text-align: center;
				font: 1.2rem "robotoregular";
				color: #065a60;
				margin-bottom: 0.2rem;
			}
			   .editAccount .editInfo2{
				   display:block;
				   width:90%;
				   margin: 0 auto;
				   margin-bottom: 0.8rem;
				   text-align: center;
				   font: 1.2rem "robotoregular";
				   color: #065a60;
			   }

.fos_user_profile_edit{
	padding:1rem;
	margin-top:1rem;
}
	.fos_user_profile_edit fieldset{
		border: 2px solid #065a60;
		padding: 1rem;
	}
		.fos_user_profile_edit legend{
			color: #065a60;
			text-transform: uppercase;
			font-weight: bold;
			margin: 0 auto;
			padding: 0 0.6rem;
			font-size: 1.2rem;
		}
			.fos_user_profile_edit label{
				display: block;
				font: 1.3rem "robotoregular";
				margin-bottom: 0.2rem;
				color: #2b2727;
			}
			   .fos_user_profile_edit input[type="text"],
			   .fos_user_profile_edit input[type="email"],
			   .fos_user_profile_edit input[type="number"],
			   .fos_user_profile_edit input[type="password"]{
				   border : 1px solid dimgray;
				   border-radius: 2px;
				   width: calc(80% - 0.3rem);
				   height: 2rem;
				   font: 1.2rem "robotoregular";
				   background-color: initial;
				   padding-left: 0.3rem;
				   display:inline-block;
			   }
				.fos_user_profile_edit input[disabled=disabled]{
					border: none;
					cursor: default;
					width: calc(80% - 0.3rem + 2px);
					height: calc(2rem + 2px);
				}
				  .fos_user_profile_edit fieldset > div{
					  margin-bottom:1rem;
				  }
                   .fos_user_profile_edit fieldset{
					   margin-bottom: 1.5rem;
				   }
					.fos_user_profile_edit button[type="button"]{
						display: inline-block;
						height: 2rem;
						width: 2rem;
						background-color: #065a60;
						border-radius: 3px;
						text-align: center;
					}
					  .fos_user_profile_edit .changeEditPassword a{
						  color: white;
						  background-color: #1285c6;
						  border-radius: 3px;
						  padding: 0.5rem 1rem;
					  }
					  	.fos_user_profile_edit .changeEditPassword a:hover{
							text-decoration: none;
							opacity:0.8;
						}
						.fos_user_profile_edit button[type="button"]:hover{
							opacity: 0.8;
						}
							.fos_user_profile_edit i{
								color: white;
								font-size: 1.4rem;
							}
							 #fos_user_profile_form_current_password{
								 margin-bottom:1rem;
							 }
								.fos_user_profile_edit input[type="submit"]{
									color: white;
									background-color: #065a60;
									padding: 0.5rem 1rem;
									font: 1.2rem "robotoregular";
									border: none;
									border-radius: 3px;
									width: 50%;
									display: block;
									cursor:pointer;
								}
								.fos_user_profile_edit input[type="submit"]:hover{
									opacity: 0.8;
								}
	/* EDIT ACCOUNT MIN 500px */
	@media screen and (min-width:500px){
		.fos_user_profile_edit{
			margin: 0 auto;
			width: 80%;
		}
		.editAccount h1{
			margin: 1.5rem auto;
			width: 80%;
		}
	}
/* EDIT ACCOUNT MIN 800px */
@media screen and (min-width:800px){
	.fos_user_profile_edit{
		position:relative;
		margin: 0 auto;
		width:90%;
	}
		.fos_user_profile_edit .identityEdit{
			display: inline-block;
			width: 40%;
			margin-right: 1rem;
		}
			.fos_user_profile_edit .coordEdit{
				display: inline-block;
				vertical-align: top;
				width: calc(49.2% - 1rem);
				padding-bottom: 3.7rem;
			}
				.fos_user_profile_edit .mdpEdit{
					display: block;
					top: 15.45rem;
					position: absolute;
					width: 38.4%;
				}
					.fos_user_profile_edit .submitEditAccount{
						position: absolute;
						display: block;
						width: 29.1rem;
						top: 23.2rem;
						left: 49.7%;
					}

}

@media screen and (min-width: 1000px){
	.fos_user_profile_edit .submitEditAccount {
		left: 48.5%;
	}
	.fos_user_profile_edit {
		position: relative;
		margin: 0 auto;
		width: 80%;
	}
}

@media screen and (min-width: 1200px){
	.fos_user_profile_edit .submitEditAccount {
		left: 47%;
	}
}

@media screen and (min-width: 1350px){
	.editAccount h1 {
		margin-top: 3rem;
		margin-bottom: 2rem;
		font-size: 2.1rem;
	}
}

@media screen and (min-width: 1400px){
	.fos_user_profile_edit .submitEditAccount {
		left: 46%;
	}
}

@media screen and (min-width: 1600px){
	.fos_user_profile_edit .submitEditAccount {
		left: 49.25%;
	}
	.fos_user_profile_edit .identityEdit {
		width: 44%;
	}
	.fos_user_profile_edit .mdpEdit {
		width: 42.9%;
	}
	.fos_user_profile_edit .coordEdit {
		width: calc(49.6% - 1rem);
	}
}

@media screen and (min-width: 1800px) {
	.fos_user_profile_edit .submitEditAccount {
		left: 50.4%;
	}
	.fos_user_profile_edit .identityEdit {
		width: 45.4%;
	}
	.fos_user_profile_edit .mdpEdit {
		width: 44.4%;
	}
}

/* ********************************************
   ************* BLOCKQUOTE INFORMATIONS ******
   *******************************************/

blockquote {
	border: 2px solid #1285c6;
	border-left: 10px solid #1285c6;
	width: 80%;
	margin: 2rem auto;
	display: block;
	padding: 1.1rem 0.5rem;
	font: 1.2rem "robotoregular";
	color: #191717;
	margin-bottom:3rem;
}
	blockquote:before {
		color: #1285c6;
		content: open-quote;
		font-size: 4em;
		line-height: 0.1em;
		margin-right: 0.25em;
		vertical-align: -0.4em;
	}
	  blockquote p{
		  display: block;
		  text-align: justify;
		  padding-left: 1.3rem;
		  padding-right: 1.3rem;
	  }
	    blockquote p strong{
			color: #065a60;
		}

@media screen and (min-width: 600px){
	blockquote {
		width: 75%;
	}
}

@media screen and (min-width: 800px){
	blockquote {
		width: 87%;
	}
}

@media screen and (min-width: 1000px){
	blockquote {
		width: 75.4%;
	}
}

@media screen and (min-width: 1200px){
	blockquote {
		width: 78.7%;
		margin-top: 2rem;
	}
}


/* ********************************************
   ************* TABS EDIT ACCOUNT ************
   *******************************************/

/* Pour un simple afficher-masquer */
[role="tabpanel"][aria-hidden ="true"] {
	display: none;
}

	/* Pour un effet sur les éléments désactivés */
	[role="tab"][aria-disabled = "true"] {
		opacity: 0.5;
	}
		.tabsAccount{
			width: 90%;
			margin: 2.5rem auto;
			list-style: none;
			text-align: center;
			display: block;
		}
			.tabsAccount li{
				padding: 0.7rem;
				background-color: #1285c6;
				color: white;
				font: 1.2rem "robotoregular";
				margin-bottom: 0.2rem;
				cursor:pointer;
				-webkit-transform: perspective(1px) translateZ(0);
				transform: perspective(1px) translateZ(0);
				box-shadow: 0 0 1px transparent;
				position: relative;
				-webkit-transition-property: color;
				transition-property: color;
				-webkit-transition-duration: 0.5s;
				transition-duration: 0.5s;
			}
				.tabsAccount li[aria-expanded = "false"]::before{
					content: "";
					position: absolute;
					z-index: -1;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					background: #2098D1;
					-webkit-transform: scaleX(0);
					transform: scaleX(0);
					-webkit-transform-origin: 50%;
					transform-origin: 50%;
					-webkit-transition-property: transform;
					transition-property: transform;
					-webkit-transition-duration: 0.3s;
					transition-duration: 0.3s;
					-webkit-transition-timing-function: ease-out;
					transition-timing-function: ease-out;
				}
					.tabsAccount li[aria-expanded = "false"]:hover:before,
					.tabsAccount li[aria-expanded = "false"]:focus:before,
					.tabsAccount li[aria-expanded = "false"]:active:before {
						-webkit-transform: scaleX(1);
						transform: scaleX(1);
					}
					.tabsAccount li[aria-expanded = "true"]{
						background-color: #585555;
					}

@media screen and (min-width: 600px){
	.tabsAccount li{
		display:inline-block;
	}
}
@media screen and (min-width: 1000px){
	.tabsAccount li {
		display: inline-block;
		width: 30%;
	}
}

@media screen and (min-width: 1000px) {
	.tabsAccount {
		width: 80%;
	}
}
/* *************************************************
   ************* ACCORDION EDIT ACCOUNT ************
   ************************************************/

.announcesEdit .js-to_expand[aria-hidden=true],
.announcesEdit .js-to_expand[data-hidden=true] {
	display: none;
}

.announcesEdit .expandmore__button {
	background: none;
	font-size: inherit;
	color: inherit;
}
/* optional */
.announcesEdit .expandmore__button:before {
	content : '+ ';
}
.announcesEdit .expandmore__button[aria-expanded=true]:before,
.announcesEdit .expandmore__button[data-expanded=true]:before {
	content : '- ';
}
/* This is the opened state */
.announcesEdit .animated-expandmore__to_expand {
	display: block;
	overflow: hidden;
	opacity: 1;
	transition: visibility 0s ease, max-height 1.3s ease, opacity 1.3s ease ;
	max-height: 80em;
	/* magic number for max-height = enough height */
	visibility: visible;
	transition-delay: 0s;
}
/* This is the hidden state */
.announcesEdit [data-hidden=true].animated-expandmore__to_expand {
	display: block;
	max-height: 0;
	opacity: 0;
	visibility: hidden;
	transition-delay: 1.3s, 0s, 0s;
}