/* ----------------------------------------------------------------- */
/* ------------------------------ RESET ---------------------------- */
/* ----------------------------------------------------------------- */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, main,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
}

html {
    overflow-y: auto;
    -webkit-font-smoothing: antialiased;
}

body {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    margin:0;
}

article, aside, figure, figcaption, footer, header, main, nav, section {
    display: block;
}

body {
    font: 100%/1.3 robotoregular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: white;
}
a:visited {
    opacity: .9;
}
a:hover {
    text-decoration:underline;
}


hr {display: none;}

img {
    max-width: 100%;
    border: 0;
}

strong {font-family: robotobold, "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: normal;}

button {
    font: normal 100%/1 robotoregular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: none;
    cursor: pointer;
}


/* *****************************************
************************* LOADER ***********
****************************************** */
.no-js #loader {
    display: none;
}
.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../images/Preloader_3.gif) center no-repeat #fff;
}



.loginPage, .registerPage {
     height: 100%;
     background-color: rgba(12, 70, 56, 0.6);
     overflow-y: auto;
    max-height:100vh;
 }

    .loginPageContent, .registerPageContent{
        margin: 0 auto;
        background-color: white;
        padding: 2rem 1rem;
        box-shadow: 8px 23.3px 46px -6px  rgba(19, 35, 47, 0.3);
        max-width: 500px;
        border-radius: 3px;
        display: block;
        position: relative;
        transform: translate(-50%, -50%);
        position: absolute;
        left: 50%;
        top: 50%;
        overflow-y: auto;
        height: calc(90% - 4rem);
        width: calc(90% - 2rem);
        max-height: 475.5px;
    }
        .socianetwork{
            margin-top: 6.3rem;
            display: block;
        }

    #page-wrapper{
        background: url(../images/fourPhoto.jpg) no-repeat center;
        max-height: 100vh;
    }
    .loginPage h1, .registerPage h1{
        background: url(../images/logoOnly.svg) no-repeat left;
        padding-left: 2.9rem;
        font: 1.7rem "robotobold";
        color: #353333;
        display: block;
    }

    .connectP, .registerP{
        font: 1.7rem "robotoregular";
        color: #ffffff;
        background-color: #1285c6;
        padding: 0.5rem;
        position: absolute;
        top: 5rem;
        left: 0rem;
        display: block;
        width: calc(100% - 1.5rem);
        padding-left: 1rem;
    }

    #login-form, .fos_user_registration_register {
        position: relative;
    }

    #login-form input[type="text"],
    #login-form input[type="password"]{
        margin-top: 0.5rem;
        height: 2rem;
        border: 1px solid #9e9d9d;
        border-radius: 2px;
        padding-left: 0.4rem;
        display: block;
        width: calc(80% - 2.2rem);
        margin-bottom: 1rem;
        margin-left: 2.2rem;
        font-size: 1.1rem;
        max-width: 270px;
    }

    #login-form label{
        display: block;
        font-size: 1.1rem;
        color: #524e4e;
        cursor:pointer;
    }
        #login-form::before{
            background: url(../images/email-outline.svg) no-repeat left;
            content: "";
            width: 1.8rem;
            display: block;
            height: 2rem;
            top: 1.8rem;
            position: absolute;
            margin-left: 0.1rem;
            cursor: pointer;
        }

        #login-form::after{
            background: url(../images/lock-open-outline.svg) no-repeat left;
            content: "";
            width: 1.8rem;
            display: block;
            height: 2rem;
            top: 6.75rem;
            margin-left: -0.2rem;
            position: absolute;
        }

        #login-form .rememberMe{
            padding-left:2rem;
            position: relative;
            color: #4e4a4a;
            display: inline-block;
        }
        #login-form .rememberMe::before{
            content: "";
            height: 1.2rem;
            width: 1.2rem;
            position: absolute;
            display: inline-block;
            border: 1.3px solid #635c5c;
            left: 0;
        }
        #login-form input[type="checkbox"]:checked + .rememberMe::after{
            content: "";
            display: block;
            position: absolute;
            height: 1rem;
            width: 0.5rem;
            border-bottom: 2px solid black;
            border-right: 2px solid black;
            transform: rotate(32deg);
            top: 0rem;
            left: 0.4rem;
        }
        #login-form input[type="checkbox"]{
            position: absolute;
            left: -9999px;
        }
        #login-form input[type="submit"]{
            display: block;
            margin-top: 1rem;
            padding: 0.5rem 3.1rem;
            font-size: 1.1rem;
            color: white;
            border: none;
            border-radius: 3px;
            background-color: #06595f;
            cursor:pointer;
        }

        .fos_user_registration_register input[type="submit"]{
            display: block;
            margin-top: 1.7rem;
            padding: 0.5rem 3.1rem;
            font-size: 1.1rem;
            color: white;
            border: none;
            border-radius: 3px;
            background-color: #06595f;
            cursor: pointer;
            width: 70%;
        }

        #login-form input[type="submit"]:hover {
            opacity:0.8;
        }
        #login-form .passwordForget{
            color: #383535;
            font: 1rem "robotoitalic";
            margin-top: 0.4rem;
            display: block;
            text-decoration: underline;
        }
        #login-form .noAccount{
            margin-top: 1.1rem;
        }
        #login-form .noAccountLink{
            background-color: #bb1b51;
            padding: 0.5rem 1rem;
            border-radius: 3px;
            margin-top: 0.2rem;
            display: inline-block;
            font-size: 0.9rem;
        }
            #login-form .noAccountLink:hover{
                opacity:0.8;
                text-decoration: none;
            }
.loginPage .errorMsg{
    padding-bottom: 0.5rem;
    font-size: 1.2rem;
    font-family: "robotoblack";
    color: #f53131;
    position: absolute;
    top: 16.6rem;
    left: 10.5rem;
    width: 9.5rem;
    overflow: hidden;
    display: inline;
    text-overflow: ellipsis;
}
.loginPage .errorMsg i{
    padding-right: 0.4rem;
}


/* SOCIAL NETWORK */
.socianetwork ul{
    padding-right: 0.4rem;
    display: inline;
}
.socianetwork ul li{
    display: inline-block;
    width: 1.6rem;
    height: 1.5rem;
    text-align: center;
    margin-right: 0.8rem;
    margin-bottom: 1.1rem;
    position:relative;
}
.socianetwork li:hover{
    opacity:0.8;
}
.socianetwork li.soon::before{
    content: "";
    width: 2.2rem;
    height: 2.3rem;
    position: absolute;
    display: block;
    background: url(../images/comingSoon.png) no-repeat center;
    background-size: 5.7rem;
    background-position-x: -2.5rem;
    background-position-y: -1.3rem;
}

.socianetwork li a{
    height: 100%;
    width: 100%;
    border-radius: 3px;
    color: white;
    display: block;
    text-align: center;
    font-size: 1.3rem;
    padding: 0.3rem 0.3rem;
}
.socianetwork li a.facebook{
    background-color: #4267b2;
}
.socianetwork a.googleplus{
    background-color: #e25454;
}
.socianetwork a.twitter{
    background-color: #00ACEE;
}
.socianetwork a.github{
    background-color: #9a429a;
}
.socianetwork a.linkedin{
    background-color: #167fd6;
}
.socianetwork a.pinterest{
    background-color: #de0c0c;
}
.socianetwork a.instagram{
    background-color: #9c13af;
}
.socianetwork a.github{
    background-color: #622B7E;
    pointer-events: none;
    cursor: default;
}
.socianetwork a.linkedin{
    background-color: #0677B4;
    pointer-events: none;
    cursor: default;
}
.socianetwork a.pinterest{
    background-color: #BC091A;
    pointer-events: none;
    cursor: default;
}
.socianetwork a.instagram{
    background: url(../images/logoInsta.png) center;
    background-size: cover;
    background-position: left;
    pointer-events: none;
    cursor: default;
}
.socianetwork ul i{
    width: 100%;
    height: 100%;
    margin-top: 0.2rem;
}
.socianetwork ul li:hover a{
    text-decoration:none;
}
.ouTransition{
    overflow: hidden;
    text-align: center;
    margin-top: 0.6rem;
    margin-bottom: 1rem;
}
.ouContainer{
    position: relative ;
    padding: 16px ;
}
.ouContainer::before{
    content: '' ;
    position: absolute ;
    border-bottom: 1px solid #e4e4e4 ;
    top: 50% ;
    right: 100% ;
    width: 5000px ;
}
.ouContainer::after{
    content: '' ;
    position: absolute ;
    border-bottom: 1px solid #e4e4e4 ;
    top: 50% ;
    left: 100% ;
    width: 5000px ;
}
.ouContent{
    font-weight: normal ;
    margin: 0px ;
    word-wrap: break-word ;
    font-size: 15px ;
    line-height: 18px ;
    letter-spacing: 0.2px ;
    padding-top: 0px ;
    padding-bottom: 0px ;
    color: #767676 ;
    display: inline ;
}
/* ******************************************
************** REGISTER *********************
******************************************* */


.fos_user_registration_register input[type="text"],
.fos_user_registration_register input[type="password"],
.fos_user_registration_register input[type="number"],
.fos_user_registration_register input[type="email"]{
    margin-top: 0.5rem;
    height: 2rem;
    border: 1px solid #9e9d9d;
    border-radius: 2px;
    padding-left: 0.4rem;
    display: block;
    width: calc(90% - 2.2rem);
    margin-bottom: 1rem;
    margin-left: 2.2rem;
    font-size: 1.1rem;
    max-width: 270px;
}
.fos_user_registration_register select{
    margin-top: 0.5rem;
    height: 2rem;
    border: 1px solid #9e9d9d;
    border-radius: 2px;
    padding-left: 0.4rem;
    display: block;
    width: calc(80% - 2.2rem);
    margin-bottom: 1rem;
    margin-left: 2.2rem;
    font-size: 1.1rem;
    max-width: 270px;
}

.fos_user_registration_register label{
    display: block;
    font-size: 1.1rem;
    color: #524e4e;
    cursor:pointer;
}


.group.email::before {
    background: url(../images/email-outline.svg) no-repeat left;
    content: "";
    width: 1.9rem;
    display: block;
    height: 2rem;
    top: 1.9rem;
    position: absolute;
    margin-left: 0.1rem;
}
.group.username::before{
    background: url(../images/account-box.svg) no-repeat left;
    content: "";
    width: 2rem;
    display: block;
    height: 2rem;
    top: 1.9rem;
    position: absolute;
    margin-left: 0.1rem;
}
#fos_user_registration_form_plainPassword > div:nth-child(1):before{
    background: url(../images/lock-open-outline.svg) no-repeat left;
    content: "";
    width: 2rem;
    display: block;
    height: 2rem;
    top: 1.9rem;
    position: absolute;
    margin-left: 0.1rem;
}
#fos_user_registration_form_plainPassword > div:nth-child(2):before {
    background: url(../images/lock-reset.svg) no-repeat left;
    content: "";
    width: 3.3rem;
    display: block;
    height: 2.3rem;
    top: 6.55rem;
    position: absolute;
    margin-left: 0.1rem;
    background-size: 1.8rem;
}
.group.sexe::before{
    background: url(../images/gender-male-female.svg) no-repeat left;
    content: "";
    width: 2rem;
    display: block;
    height: 2rem;
    top: 1.9rem;
    position: absolute;
    margin-left: 0.1rem;
}
.group.lastname::before{
    background: url(../images/account.svg) no-repeat left;
    content: "";
    width: 2rem;
    display: block;
    height: 2rem;
    top: 1.9rem;
    position: absolute;
    margin-left: 0.1rem;
}
.group.name::before{
    background: url(../images/account-alert.svg) no-repeat left;
    content: "";
    width: 2rem;
    display: block;
    height: 2rem;
    top: 1.9rem;
    position: absolute;
    margin-left: 0.1rem;
}
.group.phone::before{
    background: url(../images/phone.svg) no-repeat left;
    content: "";
    width: 2rem;
    display: block;
    height: 2rem;
    top: 1.9rem;
    position: absolute;
    margin-left: 0.1rem;
}
.group.adress::before{
    background: url(../images/home.svg) no-repeat left;
    content: "";
    width: 2rem;
    display: block;
    height: 2rem;
    top: 1.9rem;
    position: absolute;
    margin-left: 0.1rem;
}
.group.city::before{
    background: url(../images/city.svg) no-repeat left;
    content: "";
    width: 2rem;
    display: block;
    height: 2rem;
    top: 1.9rem;
    position: absolute;
    margin-left: 0.1rem;
}
.group.postal::before{
    background: url(../images/code-equal.svg) no-repeat left;
    content: "";
    width: 2rem;
    display: block;
    height: 2rem;
    top: 1.9rem;
    position: absolute;
    margin-left: 0.1rem;
}

.registerPage .haveAccount{
    margin-top: 1.1rem;
}
.registerPage .haveAccountLink{
    background-color: #bb1b51;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    margin-top: 0.2rem;
    display: inline-block;
    font-size: 0.9rem;
}
.registerPage .haveAccountLink:hover{
    opacity:0.8;
    text-decoration: none;
}
.fos_user_registration_register .group{
    position:relative;
}

            @media screen and (min-width: 400px){
                .loginPage h1,
                .registerPage h1{
                    padding-left: 3.8rem;
                    font-size:2.4rem;
                }
                .connectP, .registerP{
                    font-size:1.9rem;
                    top: 6rem;
                }
            }

            @media screen and (min-width: 600px){
                .registerPage .group{
                    display: inline-block;
                    width: 49%;
                    vertical-align: top;
                }
                .fos_user_registration_register input[type="submit"]{
                    margin: 1rem auto;
                }
                .fos_user_registration_register .group{
                    margin: 0;
                }
            }
            @media screen and (min-width: 700px){
                .loginPage h1,
                .registerPage h1{
                    padding-left: 5.2rem;
                    font-size: 3rem;
                }
                .connectP, .registerP{
                    font-size: 2.2rem;
                    top: 7rem;
                }
                #login-form label {
                    font-size: 1.4rem;
                }
                #login-form input[type="text"], #login-form input[type="password"] {
                    height: 2.3rem;
                    font-size: 1.3rem;
                }
                #login-form::before {
                    width: 2rem;
                    top: 2.4rem;
                    margin-left: -0.15rem;
                }
                #login-form::after {
                    width: 2rem;
                    top: 7.95rem;
                }
                #login-form input[type="submit"] {
                    font-size: 1.3rem;
                }
                #login-form .noAccountLink {
                    font-size: 1.1rem;
                }
                .loginPageContent, .registerPageContent {
                    max-height: 641.9px;
                }

                .fos_user_registration_register .group.password{
                    display:block;
                    width:100%;
                }
                .fos_user_registration_register #fos_user_registration_form_plainPassword > div{
                    display:inline-block;
                    width:49%;
                }

                #fos_user_registration_form_plainPassword > div:nth-child(2):before {
                    top: 1.8rem;
                }


            }
@media screen and (min-width: 1000px) {
    .loginPageContent, .registerPageContent {
        width: 80%;
        margin: 0 auto;
        background-color: white;
        padding: 2.1rem 3rem;
    }
        .connectP, .registerP {
            top: 7.9rem;
            width: calc(100% - 3.5rem);
            padding-left: 3rem;
        }
            .loginPageContent, .registerPageContent {
                max-height: 550px;
            }
                #login-form label {
                    font-size: 1.6rem;
                }
                    #login-form input[type="text"], #login-form input[type="password"] {
                        height: 2.5rem;
                        font-size: 1.4rem;
                    }
                        #login-form::before {
                            top: 2.9rem;
                        }
                            #login-form::after {
                                top: 8.85rem;
                            }
                                #login-form input[type="text"], #login-form input[type="password"] {
                                    max-width: 350px;
                                }
                                    #login-form .rememberMe::before {
                                        top: 0.35rem;
                                    }
                                        #login-form input[type="checkbox"]:checked + .rememberMe::after {
                                            top: 0.35rem;
                                        }
                                            .loginPageContent, .registerPageContent{
                                                max-height: 645.9px;
                                            }
                                                .socianetwork{
                                                    margin-top: 7.1rem;
                                                }

}

