/* ----------------------------------------------------------------- */
/* ------------------------------ RESET ---------------------------- */
/* ----------------------------------------------------------------- */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, main,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
}

html {
	overflow-y: scroll;
	-webkit-font-smoothing: antialiased;
}

body {
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
}

article, aside, figure, figcaption, footer, header, main, nav, section {
	display: block;
}

body {
	font: 100%/1.3 robotoregular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
	text-decoration: none;
	color: white;
}
a:visited {
	opacity: .9;
}
a:hover {
	text-decoration:underline;
}


hr {display: none;}

img {
	max-width: 100%;
	border: 0;
}

strong {font-family: robotobold, "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: normal;}

button {
	font: normal 100%/1 robotoregular, "Helvetica Neue", Helvetica, Arial, sans-serif;
	border: none;
	cursor: pointer;
}

/* HEADER */
header{
	height: 5rem;
	box-shadow: 0px 8px 11px -5px rgba(50, 50, 50, 0.25);
}
	header > img{
		display: inline-block;
		width: 4rem;
		padding: 0.5rem;
		transition: transform 1s;
	}
	header > img.active {
		transform: rotate(180deg);
	}
	header div{
		display: inline-block;
		width: calc(100% - 8rem);
		padding-left: 2rem;
		height: 100%;
	}
			header .logo span {
				display: inline-block;
				width: calc(100% - 6rem);
				height: 100%;
				vertical-align: bottom;
				text-align: center;
			}
				header .logo span > img{
					margin-top: 1.7rem;
					width: 15.2rem;
				}
@media screen and (min-width: 1000px){
	header .logo span > img {
		margin-top: 1.4rem;
		width: 17.5rem;
	}
}
/* HOMEPAGE HEADER */

.homepageHeader{
	padding: 4.9rem 1rem 1rem 1rem;
}
	.homepageHeader h1{
		 color:#065A60;
		font-size: 1.5rem;
	 }
		.homepageHeader p{
			font: 1.5rem "robotoregular";
			color: #656060;
		}
			.homepageHeader button{
				margin-top: 3.1rem;
				padding: 0.5rem 1rem;
				color: white;
				border-radius: 2px;
				display:inline-block;
				box-shadow: 2.5px 2.5px 10px 1px rgba(50, 50, 50, 0.65);
				transform: perspective(1px) translateZ(0);
				-webkit-tap-highlight-color: rgba(0,0,0,0);
				-webkit-font-smoothing: antialiased;
			}
			.homepageHeader button:hover {
				-webkit-animation-name: hvr-pulse-shrink;
				animation-name: hvr-pulse-shrink;
				-webkit-animation-duration: 0.3s;
				animation-duration: 0.3s;
				-webkit-animation-timing-function: linear;
				animation-timing-function: linear;
				-webkit-animation-iteration-count: infinite;
				animation-iteration-count: infinite;
				-webkit-animation-direction: alternate;
				animation-direction: alternate;
			}
				/* Pulse Shrink Animation*/
				@-webkit-keyframes hvr-pulse-shrink {
					to {
						-webkit-transform: scale(0.9);
						transform: scale(0.9);
					}
				}
				@keyframes hvr-pulse-shrink {
					to {
						-webkit-transform: scale(0.9);
						transform: scale(0.9);
					}
				}
			.homepageHeader button::before{
			}
			.homepageHeader button:hover:before{

			}
				.btnLogin{
					background-color: #065A60;
					margin-right: 0.5rem;
				}
				.btnRegister{
					background-color: #ED1B36;
				}

/* HOME PAGE TOP ANNOUNCES */

.topAnnounces{
	padding: 3.2rem 1rem 1rem 1rem;
}
	.topAnnounces h2{
		font-size: 1.7rem;
		color: #383232;
		text-align: center;
	}
		.topAnnounces ul{
			display: flex;
			justify-content: center;
			list-style: none;
			padding: 2rem 0.5rem 0.5rem 0.5rem;
			flex-wrap: wrap;
		}
			.topAnnounces ul li{
				background-color: transparent;
				border: 1px solid rgba(0,0,0,0.1);
				border-radius: 3px;
				box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.06);
				width: 14rem;
				height: 9.3rem;
				margin-bottom: 1.9rem;
			}
			.topAnnounces ul li > a{
				height: 100%;
				width: 100%;
				display: block;
				cursor: pointer;
			}
				.pictTop{
					height: 7rem;
					width: 100%;
					position:relative;
				}
					.pictTop img{
						border: 0;
						height: 100%;
						min-width: 100%;

					}
					.topAnnounces .overlay {
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
						height: 100%;
						width: 100%;
						opacity: 0;
						transition: .5s ease;
						background-color: #008cba99;
					}
					.topAnnounces a:hover .overlay {
						opacity: 1;
					}
					.topAnnounces .text {
						color: white;
						font-size: 20px;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						-ms-transform: translate(-50%, -50%);
					}


				.textTop{
					color: #2b2828;
					padding: 0.6rem 0.2rem 0.6rem 0.8rem;
					font: 0.9rem "robotoblack";
				}

/* NAV BAR */
header nav {
	display: block;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 4.5rem;
	background-color: #065a60;
	box-shadow: 1px -6.2px 24px -5px rgb(6, 90, 96);
	z-index: 100;
	text-align: center;
}
 header nav ul{
	 display: block;
	 height: 100%;
 }
 	header nav ul li {
		display: inline-block;
		height: 100%;
		width: 23.8%;
	}
		header nav ul li a{
			text-align: center;
		}
		header nav a:hover i::before{
			color:lightblue;
		}
			header nav i{
				margin-top: 1rem;
			}
				header nav i::before{
					color: white;
					font-size: 2.6rem;
				}
					header nav a span{
						display : none;
					}
.openMenu{
	display:none;
}
@media screen and (min-width:400px) {
	.topAnnounces h2 {
		text-align: left;
	}
	.topAnnounces ul {
		justify-content: start;
	}
		.topAnnounces ul li {
			width: 47.1%;
			margin-bottom: 1.9rem;
			margin-right: 1rem;
		}
			.topAnnounces ul li:nth-child(even){
				margin-right:0;
			}
	.btnLogin {
		margin-right: 0.9rem;
	}
		.homepageHeader button {
			padding: 0.8rem 1.3rem;
		}
}

@media screen and (min-width:500px) {
	.topAnnounces ul li {
		width: 13rem;
		margin-bottom: 1.9rem;
		margin-right: 2rem;
	}

}
@media screen and (min-width:600px) {
	.topAnnounces ul li {
		width: 30.1%;
		margin-bottom: 1.9rem;
		margin-right: 1rem;
	}
	.topAnnounces ul li:nth-child(even){
		margin-right:1rem;
	}
}
@media screen and (min-width:700px) {
	.topAnnounces ul li {
		width: 27.8%;
		margin-right: 2.1rem;
	}
	.topAnnounces ul li:nth-child(even){
		margin-right: 2.1rem;
	}
}

@media screen and (min-width:800px) {
	.topAnnounces ul li {
		height: 21.4vw;
	}

	.pictTop {
		height: 17.3vw;
	}
}

@media screen and (min-width:1000px) {
	.homepageHeader button {
		padding: 1.1rem 1.6rem;
	}
	.btnLogin {
		margin-right: 1.6rem;
	}
	header nav {
		display: block;
		position: absolute;
		top: 5rem;
		width: 27rem;
		left: -50%;
		height: 15.8rem;
		background-color: #ffffff;
		box-shadow: 4px 5.8px 18px -6.2px rgb(196, 201, 202);
		z-index: 100;
		transition: left 1s;
	}
	header nav.active{
		left:0;
	}
		header nav ul {
			display: block;
			height: 100%;
		}
			header nav ul li {
				display: block;
				height: 3.5rem;
				padding-left: 2rem;
				width: auto;
			}
					header nav ul a{
						height: 100%;
						display: block;
						padding-left: 0;
						width: 100%;
						text-align: left;
						font-size: 1.2rem;
					}
					header nav a span:hover{
						-webkit-animation-name: hvr-wobble-top;
						animation-name: hvr-wobble-top;
						-webkit-animation-duration: 1s;
						animation-duration: 1s;
						-webkit-animation-timing-function: ease-in-out;
						animation-timing-function: ease-in-out;
						-webkit-animation-iteration-count: 1;
						animation-iteration-count: 1;
					}
					@keyframes hvr-wobble-top {
						16.65% {
							-webkit-transform: skew(-12deg);
							transform: skew(-12deg);
						}
						33.3% {
							-webkit-transform: skew(10deg);
							transform: skew(10deg);
						}
						49.95% {
							-webkit-transform: skew(-6deg);
							transform: skew(-6deg);
							color:gray;
						}
						66.6% {
							-webkit-transform: skew(4deg);
							transform: skew(4deg);
						}
						83.25% {
							-webkit-transform: skew(-2deg);
							transform: skew(-2deg);
						}
						100% {
							-webkit-transform: skew(0);
							transform: skew(0);
						}
					}
	header nav i::before{
		display:none;
	}
		header nav a span{
			display: block;
			color: #483d3d;
			font-family: "robotobold";
			text-align: left;
			-webkit-transform: perspective(1px) translateZ(0);
			transform: perspective(1px) translateZ(0);
			box-shadow: 0 0 1px transparent;
			-webkit-transform-origin: 0 100%;
			transform-origin: 0 100%;
			-webkit-tap-highlight-color: rgba(0,0,0,0);
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}

	.openMenu {
		content: "";
		width: 1rem;
		height: 1rem;
		border-bottom: 2px solid gray;
		border-right: 2px solid gray;
		transform: rotate(-45deg);
		position: absolute;
		top: 2rem;
		left: 5.4rem;
		display: block;
		background-color: white;
		outline: none;
		transition: transform 1s;
	}
	.openMenu.active{
		transform: rotate(135deg);
	}

	.topAnnounces ul li {
		height: 14.6rem;
	}
	.pictTop {
		height: 12.1rem;
	}
	.textTop p{
		font-size: 1.1rem;
	}

}
@media screen and (min-width:1200px) {
	.topAnnounces ul li {
		width: 21.8%;
	}
}

@media screen and (min-width:1500px) {
	.topAnnounces ul li {
		width: 20.9rem;
	}
	.homepageHeader h1 {
		font-size: 1.5rem;
	}
	.homepageHeader p {
		font-size: 1.8rem;
	}
	.homepageHeader button {
		padding: 1rem 1.4rem;
		font-size:1.2rem;
	}
}

/*  INFORMATIONS */

.deuxSystemes{
	padding: 3.2rem 1rem 1rem 1rem;
}

.deuxSystemes h2{
	font-size: 1.7rem;
	color: #383232;
	text-align: center;
}
	.deuxSystemes ul{
		display: flex;
		justify-content: center;
		list-style: none;
		padding: 2rem 0.5rem 0.5rem 0.5rem;
		flex-wrap: wrap;
	}
		.deuxSystemes ul li{
			background-color: transparent;
			border: 1px solid rgba(0,0,0,0.1);
			border-radius: 3px;
			box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.06);
			width: 14rem;
			height: 9.3rem;
			margin-bottom: 1.9rem;
		}
			.deuxSystemes ul a{
				height: 100%;
				width: 100%;
				display: block;
				cursor: pointer;
			}
				.deuxSystemes .sysTop{
					height: 7rem;
					width: 100%;
					position: relative;
				}
					.deuxSystemes .sysTop img{
						border: 0;
						height: 100%;
						min-width: 100%;
					}
					 	.sysTop .overlay{
							position: absolute;
							top: 0;
							bottom: 0;
							left: 0;
							right: 0;
							height: 100%;
							width: 100%;
							opacity: 0;
							transition: .5s ease;
							background-color: #ed1b3696;
						}
						a:hover .sysTop  .overlay {
							opacity: 1;
						}
						.sysTop .text{
							color: white;
							font-size: 20px;
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
							-ms-transform: translate(-50%, -50%);
						}
					.deuxSystemes .sysText{
						color: #2b2828;
						padding: 0.6rem 0.2rem 0.6rem 0.8rem;
						font: 0.9rem "robotoblack";
					}

@media screen and (min-width:400px) {
	.deuxSystemes h2 {
		text-align: left;
	}
	.deuxSystemes ul {
		justify-content: left;
	}
	.deuxSystemes ul li {
		width: 16.6rem;
		height: 12.4rem;
	}
	.deuxSystemes .sysTop {
		height: 10.2rem;
	}
}
@media screen and (min-width:500px) {
	.deuxSystemes ul li {
		width: 90%;
		height: 10.2rem;
	}
	.deuxSystemes .sysTop{
		display: inline-block;
		width: 50%;
		height:10.2rem;
	}
	.deuxSystemes .sysText{
		display: inline-block;
		width: 42%;
		vertical-align: top;
		margin-top: 4.3rem;
		text-align: center;
	}
}
@media screen and (min-width:700px) {
	.deuxSystemes ul li:first-child{
		margin-right: 1.4rem;
	}
	.deuxSystemes ul li{
		width: 47.9%;
		height: 8rem;
	}
	.deuxSystemes .sysTop{
		width: 50%;
		height: 8rem;
	}
	.deuxSystemes .sysText {
		margin-top: 3rem;
		width: 43.4%;
	}
}
@media screen and (min-width:900px) {
	.deuxSystemes ul li {
		width: 48.4%;
		height: 10rem;
	}
	.deuxSystemes .sysTop {
		width: 58%;
		height: 10rem;
	}
	.deuxSystemes .sysText {
		margin-top: 3.9rem;
		width: 33.7%;
	}
}
@media screen and (min-width:1000px) {
	.deuxSystemes ul li {
		width: 48.5%;
		height: 12rem;
	}
	.deuxSystemes .sysTop {
		width: 59%;
		height: 12rem;
	}
	.deuxSystemes .sysText {
		margin-top: 4.7rem;
		width: 34.1%;
		font-size: 1.2rem;
	}
}
@media screen and (min-width:1100px) {
	.deuxSystemes ul li {
		width: 30.3rem;
		height: 12.6rem;
	}
	.deuxSystemes ul li:first-child {
		margin-right: 4.4rem;
	}
	.deuxSystemes .sysTop {
		height: 12.6rem;
	}
	.deuxSystemes .sysText {
		width: 10.5rem;
	}
}





/* **** FOOTER ***** */

footer{
	display: block;
	width: 100%;
	background-color: #eceaea6b;
	box-shadow: 0px -3px 12px 0px rgba(130, 113, 113, 0.36);
	margin-bottom: 4.6rem;
	padding-bottom: 1.1rem;
	margin-top: 2.5rem;
}

footer .icons{
	display: block;
	width: 70%;
	margin:0 auto;
	list-style: none;
	padding-top: 0.8rem;
}
	footer .icons li{
		display: inline-block;
		width: 23.5%;
		height: 3rem;
		text-align: center;
		margin-top: 0.4rem;

	}
	footer .icons i::before{
		font-size: 2.3rem;
		color: #4e4646;
	}
		footer .icons span {
			display: none;
		}

footer .copyright{
	margin-top:1rem;
	display: block;
	list-style: none;
}
  footer .copyright li{
	  display: block;
	  width: 100%;
	  text-align: center;
	  margin-bottom: 0.2rem;
  }
	footer  .copyright a{
		color: #4e4646;
		font-size: 1.3rem;
	}
		footer  .copyright a:hover{
			text-decoration: underline;
		}
		footer .copyright li:nth-child(4){
			margin-bottom: 1.3rem;
		}
		  footer .copyright li:nth-child(5){
			  font-size: 1.2rem;
		  }
			footer .copyright li:nth-child(6){
				font-weight:bold;
			}
				footer .copyright li:nth-child(6) a{
					font-weight:100;
				}

@media screen and (min-width:800px) {
	footer .copyright {
		margin-top: 2.5rem;
	}
		footer .copyright li {
			display: inline-block;
			width: 22%;
			text-align: center;
			margin-bottom: 0.2rem;
			vertical-align: top;
		}
			footer .copyright li:nth-child(5) {
				font-size: 1.2rem;
				display: block;
				width: 100%;
				margin-top: 1.2rem;
			}
				footer .copyright li:nth-child(6){
					font-size: 1.2rem;
					display: block;
					width: 100%;
					margin-top: -0.2rem;
				}
}

@media screen and (min-width:1000px) {

	footer{
		margin-bottom: 0;
	}
	footer .icons {
		display: inline-block;
		width: 50%;
		margin: 0 auto;
		padding-top: 0.8rem;
	}
		footer .icons li {
			display: block;
			width: auto;
			height: 3rem;
			text-align: left;
			margin-top: 0.4rem;
			margin-left: 54%;
		}
			footer .icons li a{
				display: block;
			}
				footer .icons span:hover{
					text-decoration:underline;
				}
					footer .icons i{
						display: inline-block;
					}
						footer .icons span {
							 display: inline-block;
							 color: #4e4646;
							 margin-left: 0.9rem;
							 vertical-align: super;
						 }
		footer .copyright {
			display: inline-block;
			width: 49%;
			vertical-align: top;
			margin-top: 1.6rem;
		}
			footer .copyright li{
				display: block;
				width: 100%;
				text-align: left;
				margin-bottom: 0.2rem;
				vertical-align: top;
			}
}
/*  MODAL CONNEXION */

.dialog[aria-hidden="true"] {
	display: none;
}

.dialog *{
	outline: none;
}
.dialog div[role="document"]{
	padding: 1rem;
}
.dialog-overlay {
	position: fixed !important;
	z-index: 150;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	overflow-y: auto;
	transform :translate3d(0,0,0);
	background-color: rgba(43, 46, 56, 0.9);
}


.dialog-content {
	background-color: rgb(255, 255, 255);
	z-index: 200;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100.3%;
	height: 100.3%;
}

@media screen and (min-width: 600px) {
	.dialog-content {
		width: 90%;
		height: 47.4rem;
	}
}

@media screen and (min-width: 700px) {
	.dialog-content {
		width: 35rem;
		padding: 0 2rem;
	}
}
@media screen and (min-width: 1000px) {
	.dialog h1 {
		margin: 0;
		font-size: 2.15em;
	}
}


.dialog-close {
	position: absolute;
	top: 0;
	right: 0em;
	border: 0;
	padding: 0;
	background-color: transparent;
	font-weight: bold;
	font-size: 1.95em;
	width: 1.2em;
	height: 1.2em;
	text-align: center;
	cursor: pointer;
	transition: 0.15s;
}
#dialogDescription{
	font-size: 1.3rem;
	color: #797979;
}

/* ********* FORM LOGIN ****** */

#login-form{
	margin-top: 2.5rem;
}
	#login-form label{
		font-size: 1.1rem;
	}
	#login-form input[type="text"],
	#login-form input[type="password"]{
		display: block;
		width: calc( 100% - 3.2rem);
		margin-top: 0.3rem;
		font-size: 1.1rem;
		height: 2.2rem;
		border-radius: 3px;
		border: 1px solid #6f6565;
		margin-bottom: 1.2rem;
		padding: 0.2rem 0rem 0rem 2.6rem;
	}
	#login-form input[type="checkbox"]{
		position: absolute;
		left: -9999px;
	}
	.normalLogin input[type="text"]{
		background: url(../images/email-outline.svg) no-repeat left;
		background-size: 1.6rem;
		background-position-x: 0.6rem;
	}
	.normalLogin input[type="password"]{
		background : url(../images/lock-open-outline.svg) no-repeat left;
		background-size: 1.6rem;
		background-position-x: 0.6rem;
	}
	.normalLogin input[type="submit"]{
		display: block;
		margin-top: 1.8rem;
		width: 100%;
		height: 2.5rem;
		border-radius: 3px;
		border: none;
		color: white;
		background-color: #065A60;
		font-size: 1.2rem;
		cursor:pointer;
	}
	.normalLogin input[type="submit"]:hover{
		opacity:0.9;
	}

	.rememberMe{
		padding-left:2rem;
		position: relative;
		color: #4e4a4a;
	}
	.rememberMe::before{
		content:"";
		height:1.4rem;
		width:1.4rem;
		position:absolute;
		display:block;
		border: 1.3px solid #635c5c;

	}
	#login-form input[type="checkbox"]:checked + .rememberMe::after{
		content: "";
		display: block;
		position: absolute;
		height: 1.1rem;
		width: 0.6rem;
		border-bottom: 2px solid black;
		border-right: 2px solid black;
		transform: rotate(32deg);
		top: 0rem;
		left: 0.4rem;
	}
	.socianetwork h2{
		color: #463e3e;
		font: 1.9rem "robotoblack";
	}
	.socianetwork ul{
		display: block;
		list-style: none;
		margin-top: 1rem;
	}
	.socianetwork ul li{
		display: block;
		width: 100%;
		height: 2.5rem;
		margin-bottom: 0.6rem;
	}
	.socianetwork .facebook{
		height: 100%;
		width: 100%;
		border-radius: 3px;
		background-color: #4267b2;
		color: white;
	}
	.socianetwork .button{
		opacity:0.9;
	}
	.socianetwork .googleplus{
		height: 100%;
		width: 100%;
		border-radius: 3px;
		background-color: white;
		color: white;
		background-color: #e25454;
	}
	.socianetwork .twitter{
		 height: 100%;
		 width: 100%;
		 border-radius: 3px;
		 background-color: #00ACEE;
		 color: white;
	 }
	.socianetwork ul i{
		margin-right: 1rem;
	}
	.noAccount{
		margin-top: 1.4rem;
		font-size: 1.2rem;
		display: inline-block;
	}
	.noAccountLink{
		display: inline-block;
		color: #4267b2;
		text-decoration: underline;
		font-size: 1.1rem;
		margin-left: 0.8rem;
	}

	.ouTransition{
		overflow: hidden;
		text-align: center;
		margin: 1.6rem 0;
	}
	.ouContainer{
		position: relative ;
		padding: 16px ;
	}
		.ouContainer::before{
			content: '' ;
			position: absolute ;
			border-bottom: 1px solid #e4e4e4 ;
			top: 50% ;
			right: 100% ;
			width: 5000px ;
		}
		.ouContainer::after{
			content: '' ;
			position: absolute ;
			border-bottom: 1px solid #e4e4e4 ;
			top: 50% ;
			left: 100% ;
			width: 5000px ;
		}
	.ouContent{
		font-weight: normal ;
		margin: 0px ;
		word-wrap: break-word ;
		font-size: 15px ;
		line-height: 18px ;
		letter-spacing: 0.2px ;
		padding-top: 0px ;
		padding-bottom: 0px ;
		color: #767676 ;
		display: inline ;
	}

.passwordForget{
	color: #3c3131;
	margin-top: 1rem;
	display: block;
	font: 1rem "robotoitalic";
	text-decoration: underline;
}



/* *********** LOADER ******* */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/Preloader_3.gif) center no-repeat #fff;
}