{% extends "@CherchAppart/layout.html.twig" %}

{% block body %}
    COUCOU
        {%  for message in app.session.flashbag.get('Message') %}
            <li><b> {{ message }}</b></li>
        {% endfor %}

        {% if app.user == null %}
            {% include '@CherchAppart/Homepage/contentIfNoConnect' %}
            {% include '@CherchAppart/Homepage/modaleConnect' %}
            {% include '@CherchAppart/Homepage/modaleRegister' %}
        {% else %}
             {% include '@CherchAppart/Homepage/contentIfConnect' %}
        {% endif %}

{% endblock %}


